<% header('Dasboard') %>

<%= page_header 'Account settings' %>

<div class="row-fluid">
	<h2><small>Account name:</small> <%= @account.name.blank? ? "<not set>" : "\"#{@account.name}\"" %></h2>
	<h2><small>Account created:</small> <%= @account.created_at.to_s(:date_and_time) %></h2>
	<h2><small>Owner:</small> <%= @account.owner.full_name %></h2>
	<h2><small>Users:</small> <%= @account.users.count %></h2>
	<h2><small>Surveys:</small> <%= @account.surveys.count %></h2>
	<h2><small>Responses:</small> <%= @account.responses.count %></h2>
</div>