- @resp_surveys.inspect

- @resp_days.each do |day, responses|
  %h2= l day, :format => :short_date
  - responses.each do |response|
    .panel{ class: response.viewed_at ? 'panel-default' : 'panel-info' }
      .panel-heading
        %h3.panel-title
        %span.label.label-default= l response.created_at, :format => :short_date_time
        = link_to response.survey.name, [response.survey, :responses]
        - unless response.viewed_at
          .pull-right
            .btn.btn-default.btn-xs.mark-as-readed-btn{ 'data-survey-id' => response.survey.id, 'data-response-id' => response.id }= t('.mark_as_readed')
      .panel-body.sig-pad-form
        - response.content.each_with_index do |x,i|
          - s_item = SurveyItem.find_by_id(x[0])
          = render "/responses/short_response", item: s_item, result: x[1], index: i
        / =link_to [response.survey, response] do
        /   = response.content

= paginate @responses


- content_for :js do 
  :javascript
    $(document).ready(function(){
      $('.signature-pad').each(function(){
        _this = $(this)

        _this.jSignature();
        _this.jSignature("setData", "data:" + _this.data('signature'))
      })

      $('.mark-as-readed-btn').click(function(){
        _this = $(this);
        $.ajax("/surveys/" + _this.data('survey-id') + "/responses/" + _this.data('response-id') + ".json", { 
          type: "PUT",
          dataType: 'json',
          data: { response: { viewed_at: new Date() } },
          success: function(){            
            _this.parents('.panel').removeClass('panel-primary').addClass('panel-default');
            _this.parent().remove();
          }
        })
      })
    })