<%= div_for item, class: "survey_item" do -%>

    <strong class="item-title"><%= "#{counter}. #{item.title}" %></strong>
    <div class="item-content">
      <select name="response[item-<%= item.id %>][values]" class="span9">
        <%- if item.include_empty -%><option> Please select an option </option><%- end -%>
        <% item.variants_array.each_with_index do |var, i| %>
          <option value="<%= i %>" > <%= var %> </option>
        <% end %>
      </select>

      <%- if item.include_txt_field -%>
          <input type="text" name="response[item-<%= item.id %>][additional_field]" />
      <%- end -%>
    </div>
<%- end -%>
