= div_for item, class: "survey_item" do
  .form-group
    %strong.item-title= "#{counter}. #{item.title}"
    .item-content
      %select.form-control{ name: "response[item-#{ item.id }][values]", class: "#{ 'validate[required]' if item.required_field? }" }
        - if item.include_empty 
          %option Please select an option
        - item.variants_array.each_with_index do |var, i|
          %option{ value: i }= var

      - if item.include_txt_field
        %input{ type: "text", name: "response[item-#{ item.id }][additional_field]" }