<%= div_for item, class: "survey_item" do -%>

  		<strong class="item-title"><%= "#{counter}. #{item.title}" %></strong>
  		<div class="item-content">
	    	<ul class="unstyled">
		    	<% item.variants_array.each_with_index do |var, i| %>
			    	<li>
				      	<label class="checkbox">
							<input type="checkbox" name="response[item-<%= item.id %>][<%= i %>]" value="1" /><%= var %>
						</label>
					</li>
			    <% end %>
			</ul>
		</div>
<% end %>
