<%= div_for item, class: "survey_item" do -%>

  		<strong class="item-title"><%= "#{counter}. #{item.title}" %></strong>
  		<div class="item-content">
	    	<ul class="unstyled">
		    	<% item.variants_array.each_with_index do |var, i| %>
			    	<li>
				      	<label class="checkbox">
							<input type="checkbox" name="response[item-<%= item.id %>][values][<%= i %>]" value="1" /><%= var %>
								<!-- 
	<input type="checkbox" name="response[item-<%= item.id %>][values][<%= i %>]" value="1" 
								class="<%= 'validate[minCheckbox[1]]' if item.required_field? %>" data-prompt-position="bottomRight"/><%= var %>
							-->
						</label>
					</li>
			    <% end %>
			</ul>
			<%- if item.include_txt_field -%>
		      <input type="text" name="response[item-<%= item.id %>][additional_field]" />
		    <%- end -%>
		</div>
<% end %>
