<%= div_for item, class: "survey_item" do -%>

  	<strong class="item-title"><%= "#{counter}. #{item.title}" %></strong>
    <div class="item-content">

	    <% item.scale_size.times do |v| %>
	      <label class="radio inline">
	        <input type="radio" name="response[item-<%= item.id %>]" value="<%= v+1 %>" /><%= v+1 %>
	      </label>
	    <% end %>
	</div>
    
<%- end -%>
