<%= div_for item, class: "survey_item" do -%>
  <div class="well well-small">
    <strong><%= "#{counter}. #{item.title}" %></strong>
      
    <table class="grid-table" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <% item.columns_array.each do |v| %>
          <td><%= v %></td>
        <% end %>
      </tr>
      <% item.rows_array.each_with_index do |row_title, i| %>
        <tr>
          <td class="grid-row-title"><%= row_title %></td>
          <% item.columns_array.each do |v| %>
            <td><input type="radio" name="response[item-<%= item.id %>][<%= i %>]"></input></td>
          <% end %>
        </tr>
      <% end %>
    </table>


  </div>

<% end %>