<%= div_for item, class: "survey_item" do -%>
  	<div class="well well-small">
  		<strong><%= item.title%></strong>
    	<ul class="unstyled">
	    	<% item.variants_array.each_with_index do |var, i| %>
		    	<li>
			      	<label class="radio">
						<input type="radio" name="response[item-<%= item.id %>]" value="<%= i %>" /><%= var %>
					</label>
				</li>
		    <% end %>
		</ul>
		<%- if item.include_txt_field -%>
	      <input type="text" />
	    <%- end -%>
  	</div>

<% end %>
