<%= div_for item, class: "survey_item" do -%>

    <strong class="item-title"><%= "#{counter}. #{item.title}" %></strong>
    <div class="item-content">
	    <% if item.appearance == 'txt_field' %>
	      <input type="text" name="response[item-<%= item.id %>]" class="span9 <%= 'validate[required]' if item.required_field? %>" />
	    <% else %>
	      <textarea name="response[item-<%= item.id %>]" class="span9 <%= 'validate[required]' if item.required_field? %>"></textarea>
	    <% end %>
	</div>
    
<%- end -%>
