= div_for item, class: "survey_item" do
	.item-content
		.video-wrapper{ style: "max-width: #{ item.frame_size.split('x')[0] }px; max-height: #{ item.frame_size.split('x')[1] }px" }
			- if !item.youtube_id.blank?
				%iframe#player{ type: "text/html", src: "http://www.youtube.com/embed/#{ item.youtube_id }?enablejsapi=1&origin=http://example.com", frameborder: "0" }
			- elsif !item.vimeo_id.blank?
				%iframe{ src: "http://player.vimeo.com/video/#{ item.vimeo_id }?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=dbdbdb", 
					frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true } 
			- else
				%video#my_video_1.video-js.vjs-default-skin{ controls: true, preload: "auto", width: "640", height: "264", 'data-setup' => "{}" }
					%source{ src: item.embed_url, type: "video/youtube" }

