<p class="hint">
	Вставьте в текст поста <%= "<!-- split_content -->" %> чтобы разделить его на две части, 
	первая из которых будет показана на странице списка постов
</p>

<%= semantic_form_for @post, html:{class: 'blog_post_form'} do |f| %>
	<%=f.inputs class: 'fields' do %>
		<%=f.input :title, input_html: {class: "title_input"} %>
		<%=f.input :content, input_html: {id: "rich-text-area"} %>
		<%=f.input :meta_keywords, input_html: {class: "meta-field field"} %>
		<%=f.input :meta_description, input_html: {class: "meta-field"} %>
	<% end %>
	<%=f.submit 'Сохранить' %>
<% end %>


<%= content_for :js do %>
<script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace("rich-text-area",{ 
			language: 'ru',
			toolbar: [
				{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
				{ name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule', 'SpecialChar' ] },
				{ name: 'styles', items: [ 'Styles', 'Format' ] },
				{ name: 'others', items: [ '-' ] },
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Strike' ] },
				{ name: 'tools', items: [ 'Maximize' ] },
				{ name: 'links', items: [ 'Link', 'Unlink'] },
				{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] }
			]})
</script>
<% end %>

<style type="text/css">
form.blog_post{  }
</style>