<%= page_header t("profiles.edit.title") %>

<%= form_for(@user, :url => :profile, html:{ class: 'form painted' }) do |f| %>
  <div class="fields">
    <%= f.label :account_name do %> <%= t("profiles.edit.account_name") %>
      <div class="uneditable"><%= @user.account.name %></div>
    <% end %>
    <%= f.label :first_name do %> <%= t("profiles.edit.first_name") %>
      <div class="uneditable"><%= f.text_field :first_name %></div>
    <% end %>
    <%= f.label :last_name do %> <%= t("profiles.edit.last_name") %>
      <div class="uneditable"><%= f.text_field :last_name %></div>
    <% end %>
    <%= f.label :email do %> <%= t("profiles.edit.email") %>
      <div class="uneditable"><%= f.email_field :email %></div>
    <% end %>
    <%= f.label :current_password do %> <%= t("profiles.edit.current_password") %>
      <div class="uneditable"><%= f.password_field :current_password, :autocomplete => "off" %></div>
    <% end %>
  </div>
  <%= f.submit t("profiles.edit.update_btn") %>
<% end %>


<br>
<%= form_for(@user, :url => :profile, html:{ class: 'form painted' }) do |f| %>
  <div class="fields">
    <%= f.label :language do %> <%= t("profiles.edit.language") %>
      <div class="uneditable"><%= f.select :language, [['English', 'en'], ['Русский', 'ru']] %></div>
    <% end %>
  </div>
  <%= f.submit t("profiles.edit.update_btn") %>
<% end %>
