<%= page_header t("profiles.show.title") %>

  <div class="fields">
    <%= label_tag :account_name do %> <%= t("profiles.show.account_name") %>
      <div class="uneditable"><%= @user.account.name %></div>
    <% end %>
    <%= label_tag :first_name do %> <%= t("profiles.show.first_name") %>
      <div class="uneditable"><%= @user.first_name %></div>
    <% end %>
    <%= label_tag :last_name do %> <%= t("profiles.show.last_name") %>
      <div class="uneditable"><%= @user.last_name %></div>
    <% end %>
    <%= label_tag :email do %> <%= t("profiles.show.email") %>
      <div class="uneditable"><%= @user.email %></div>
    <% end %>
    <%= label_tag :email do %> <%= t("profiles.show.password") %>
      <div class="uneditable">******</div>
    <% end %>
  </div>
  
  <%= link_to t("profiles.show.change_fields"), :edit_profile, id: 'change-profile-details-lnk' %>
  <%#= f.submit "Sign up now!", class: 'btn btn-primary' %>
<div class="spacer"></div>
  <h3><%= t("profiles.show.authentications") %></h3>

  <div class="authentication">
    <span>Facebook: </span>
    <% if fb_auth = @user.facebook_auth %>
      <%= fb_auth.linked_name %>
    <% else %>
      <%= link_to t("profiles.show.connect_with", name: "Facebook"), "#", class: 'big_btn fb-auth-btn' %>
    <% end %>
  </div>

  <div class="authentication">
    <span>Twitter: </span> 
    <% if tw_auth = @user.twitter_auth %>
      <%= tw_auth.linked_name %>
    <% else %>
      <%= link_to t("profiles.show.connect_with", name: "Twitter"), "#", class: 'big_btn tw-auth-btn' %>
    <% end %>
  </div>

  <div class="authentication">
    <span>Google: </span> 
    <% if tw_auth = @user.google_auth %>
      <%= tw_auth.linked_name %>
    <% else %>
      <%= link_to t("profiles.show.connect_with", name: "Google"), "#", class: 'big_btn go-auth-btn' %>
    <% end %>
  </div>