<td class="reponse-item-title">
	<%= "#{counter}. #{item.title}" %>
</td>
<td class="reponse-content">
	<ul class="unstyled">
		<% item.variants_array.each_with_index do |variant, i| %>
	    	<li>
		      	<label class="radio">
					<% if (!result['values'].blank? && result['values'].to_i == i) %>
						<strong><%= variant %></strong>
					<% else %>
						<%= variant %>
					<% end %>
				</label>
			</li>
	    <% end %>
	</ul>
	<% unless result['additional_field'].blank? %>
	<div class="additional-field">
		<span><%= t("responses.show.additional_field") %></span>
		<%= result['additional_field']%>
	</div>
	<% end %>
</td>