<div class="padded-content">
  <h3>Sign in</h3>
  <%= devise_error_messages! %>

  <%= form_for(resource, :url => :login) do |f| %>
    <%= f.label :email, class: 'right' %>
    <%= f.text_field :email, placeholder: 'Email address', class: 'six' %>

    <%= f.label :password, class: 'right' %>
    <%= f.password_field :password, placeholder: 'Password', class: 'six' %>

    <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me, class: 'checkbox' do %>
          <%= f.check_box :remember_me, class: 'checkbox' %> Remember me
        <% end %>
    <% end%>

    <%= f.submit "Sign in", class: 'btn' %>
  <% end %>
</div>
