
	<div class="login-box">
		<div class="row">
			<div class="column half-width">
				<h3>Sign in with credentials</h3>

				<%= form_tag :login do %>
					<%= label_tag :email do %>
						<span>Enter your email here: </span> 
						<%= text_field_tag :email, '', placeholder: 'Email address', class: 'six' %>
					<% end %>

					<%= label_tag :password do %>
						<span>Enter your password: </span> 
						<%= password_field_tag :password, nil, placeholder: 'Password', class: 'six' %>
					<% end %>
					<br />
					<%= submit_tag "Sign in", class: 'btn success' %>
				<% end %>


			</div>
			<div class="column half-width providers">
				<h3>Or choose from providers list below</h3>
					<!--
					<%= link_to "", "/auth/facebook", class: 'sign-in-facebook' %>
					<%= link_to "", "/auth/twitter", class: 'sign-in-twitter' %> 
				-->
					<%= link_to "/auth/facebook", class: 'btn' do %>
						<img src="/images/icons/facebook.png" style="vertical-align:middle">Sign in with Facebook
					<% end %>
					<%= link_to "/auth/google", class: 'btn' do %>
						<img src="/images/icons/google.png" style="vertical-align:middle">Sign in with Google
					<% end %>
					<%= link_to "/auth/twitter", class: 'btn' do %>
						<img src="/images/icons/twitter.png" style="vertical-align:middle">Sign in with Twitter
					<% end %>
			</div>
		</div>

		<div class="sign-in-description">
			We don't share your data with any third party services, we dont' use your email to send spam or ads. 
			Your credentials are protected by our <a href="/tos">Terms of use</a> and <a href="http://www.digicert.com/ssl.htm">ssl secured connection</a>.
		</div>
	</div>


