<div class="container-marketing">
	<div class="login-box">
		<div class="row">
			<div class="column half-width">
				<h3><%= t('sessions.new.sign_in_credentials') %></h3>

				<%= form_tag :login do %>
					<%= label_tag :email do %>
						<span><%= t('sessions.new.email') %></span> 
						<%= text_field_tag :email, '', placeholder: t('sessions.new.email_placeholder') %>
					<% end %>

					<%= label_tag :password do %>
						<span><%= t('sessions.new.password') %></span> 
						<%= password_field_tag :password, nil, placeholder: t('sessions.new.password_placeholder') %>
					<% end %>
					<br />
					<%= submit_tag t('sessions.new.submit'), class: 'btn success' %>
				<% end %>
			</div>
			<div class="column half-width providers">
				<h3><%= t('sessions.new.sign_in_providers') %></h3>

					<%= link_to "/auth/facebook", class: 'btn' do %>
						<img src="/images/icons/facebook.png" style="vertical-align:middle">
						<%= t('sessions.new.sign_in_with', provider: "Facebook") %>
					<% end %>
					<%= link_to "#", class: 'btn' do %>
						<img src="/images/icons/google.png" style="vertical-align:middle">
						<%= t('sessions.new.sign_in_with', provider: "Google") %>
					<% end %>
					<%= link_to "/auth/twitter", class: 'btn' do %>
						<img src="/images/icons/twitter.png" style="vertical-align:middle">
						<%= t('sessions.new.sign_in_with', provider: "Twitter") %>
					<% end %>
			</div>
		</div>

		<div class="sign-in-description"><%= raw t('sessions.new.additional_links') %></div>
	</div>
</div>


