<div class="marketing-section">
	<div class="login-box">
		<h1>Reserve payed plan</h1><br>
		<p>SurveysKitchen team thanks you for choosing our services!</p>

		<%= semantic_form_for @buy_request, html: {class: 'form'} do |f| %>
		  <%= f.inputs class: 'fields2' do %>
		    <%= f.input :email, label: "Your contact Email:" %>
		    <%= f.input :name, label: "Your name:" %>
		    <%= f.input :how_found, label: "How did you find us?" %>
		    <%= f.input :text, label: "Additional requests/advice:" %>
		    <%= f.hidden_field :acc_type, value: params[:plan] %>
		  <% end %>

		    <%= f.submit 'Send' %>
		<% end %>

	</div>
</div>

