- header('Dasboard')
.page-header
  %h3= 'Dashboard'

#dashboard-blocks.row
  .col-md-3
    .block
      %h4= t('.total_responses')
      %strong= current_account.responses.count
  .col-md-3
    .block
      %h4= t('.views')
      %strong= current_account.survey_visits.count


%h4= t('.last_month_responses')# Responses for last month:
#last_responses
  .columns
    - @responses_count.each do |x|
      - percentage = x.to_f / @max_chart_value * 100
      .column-wrapper
        .column{ style: "height: #{ percentage }%" }
          %span.value= x