<% header('Dasboard') %>

<div class="padded-content">
  <%= page_header 'Dashboard' %>

  <div class="row">
      <div class="column one-third">
        <div class="dashboard-box big">
          <h1><%= @responses.count %></h1>
          <h2>all responses</h2>
        </div>
      </div>
      
      <div class="column one-third">
        <div class="dashboard-box medium">
          <h1><%= @surveys.count %></h1>
          <h2>all surveys</h2>
        </div>
      </div>
      
      <div class="column one-third">
        <div class="dashboard-box small">
          <h1><%= @surveys.select{|x| x.responses.count == 0}.count %></h1>
          <h2>waiting for responses</h2>
        </div>
      </div>

</div>

<div id="events-block">
  <h1>Events:</h1>
  <ul>
    <% for event in current_account.events %>
       <li>
        <%= event.message %>
        <div class="date"><%= event.created_at %></div>
      </li>
    <% end %>
  </ul>
</div>
  
  <ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
  </ul>
</div>


<%= content_for :js do %>
  <script type="text/javascript">
  $(function () {
      
  });
  </script>
<% end %>

