  <div class="login-box">
      <h3>Register</h3>
      <%#= devise_error_messages! %>

      <%= form_for(@user, :url => :register, class: 'form') do |f| %>
        <%= f.label :first_name do %>
          <span>First name: </span> <%= f.text_field :first_name, placeholder: 'Your first name', class: 'span6' %>
        <% end %>

        <%= f.label :last_name do %>
          <span>Last name: </span> <%= f.text_field :last_name, placeholder: 'Your last name', class: 'span6' %>
        <% end %>

        <%= f.label :account_name do %>
          <span>Select account name: </span> <%= f.text_field :account_name, placeholder: 'Your account name', class: 'span6' %>
        <% end %>

        <%= f.label :email do %>
          <span>Email: </span> <%= f.text_field :email, placeholder: 'Email address', class: 'span6' %>
        <% end %>

        <%= f.label :password do %>
          <span>Password: </span> <%= f.password_field :password, placeholder: 'Password', class: 'span6' %>
        <% end %>

        <%= f.label :password_confirmation do %>
          <span>Confirm password: </span> <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'span6' %>
        <% end %>
        <br />
        <%= f.submit "Sign up now!", class: 'btn btn-primary' %>

      <% end %>
</div>