<div class="ten columns margin-left">
  <h4>Fill basic information fields:</h4>
  <%= form_for @survey, html: {class: 'form'} do |f| %>
    <%= hidden_field_tag 'step', 'basic_info' %>
    <fieldset>
      <div class="row">
        <div class="fourteen columns">
          <label>Choose category:</label>
          <%= f.select :category_id,
            Category.all.collect {|p| [ p.name, p.id ] }, 
            {include_blank: 'Select a Category'}, {class: "bottom-space"} %>
        </div>
        <div class="two columns">
          <%= link_to 'Edit categories', :categories %>
        </div>
      </div>
      
      
      <label>New survey name:</label>
      <%= f.text_field :name, placeholder: 'Enter name for your surevey'%>
      
      <label>New survey description:</label>
      <textarea class="min120height" placeholder="Enter a brief description here"></textarea>
      
      <label for="survey_prefill_items" class="bottom-space">
        <%=f.check_box :prefill_items %>
        <span class="custom radio"></span> Prefill survey with example items
      </label>
     
    </fieldset> 
    <input type="submit" class="button right" value="Look and feel »"></input>
    <%#= link_to 'Look and feel »', edit_survey_path(@survey, step: 'look_and_feel'), class: 'button right' %>
  <% end %>
</div>
