<div id="navbar">
  <!-- <a class="brand" href="/dashboard">SurveysKitchen</a> -->
  <div class="content">
    <%= link_to  "SurveysKitchen", "/", id: 'home-link'%>

    <ul class="simple-nav right">
      <!-- <li>
        <%#= link_to t("layout.create_survey_link"), :register, class: 'signup-btn' %>
      </li> -->
      <li>
        <ul id="language_select">
          <li <%= raw('class="active"') if I18n.locale == :ru %>> <%= link_to "ru", locale_root_path(:ru) %> </li>
          <li <%= raw('class="active"') if I18n.locale == :en %>> <%= link_to "en", locale_root_path(:en) %> </li>
        </ul>
      </li>
      <li><%= link_to t("layout.log_in_link"), login_path(locale: I18n.locale) %></li>
    </ul>

    <ul id="main-nav" class="right">
      <%=content_tag :li, class: (request.path =~ /\/(blog)(\/)?\z/ ? 'active' : '')  do -%>
        <%= link_to t("layout.blog"), blog_posts_path %>
      <%-end-%>
      <%=content_tag :li, class: (request.path =~ /\/(features)(\/)?\z/ ? 'active' : '')  do -%>
        <%= link_to t("layout.features"), features_path(locale: I18n.locale) %>
      <%-end-%>
      <%=content_tag :li, class: (request.path =~ /\/(about)(\/)?\z/ ? 'active' : '')  do -%>
        <%= link_to t("layout.about"), about_path(locale: I18n.locale) %>
      <%-end-%>
      <%=content_tag :li, class: (request.path =~ /\/(plans)(\/)?\z/ ? 'active' : '')  do -%>
        <%= link_to t("layout.plans_pricing"), plans_path(locale: I18n.locale) %>
      <%-end-%>
    </ul>

    
  </div>
</div>