.navbar.navbar-inverse.navbar-static-top{ role: 'navigation' }
  .navbar-header
    %button.navbar-toggle{ type: "button", 'data-toggle' => "collapse", 'data-target' => ".navbar-ex1-collapse" }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a#home-link.navbar-brand{ href: dashboard_path } SurveysKitchen
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      = content_tag :li, class: (request.path =~ /\A\/(feed)(\/)?\z/ ? 'active' : '')  do
        %a{ href: feed_path }
          %i.icon-chat-1
          = t('layout.responses_link')
          - if current_account.responses.new_items.count > 0
            %span.badge= current_account.responses.new_items.count
      = content_tag :li, class: (request.path =~ /\A\/(surveys)(\/)?\z/ ? 'active' : '')  do
        = link_to raw("<i class=\"icon-edit-1\"></i> #{t('layout.surveys')} (#{current_account.surveys.count})"), :surveys
      
      - if current_user.admin?
        %li.dropdown
          = link_to raw('<i class="icon-wrench"></i> Admin <b class="caret"></b>'), '#', class: "dropdown-toggle", 'data-toggle'=>"dropdown"
          %ul.dropdown-menu
            %li= link_to 'Database', :rails_admin
            %li= link_to 'CMS', :cms_admin

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        = link_to raw(t("layout.account")), '#', class: "dropdown-toggle", 'data-toggle'=>"dropdown"
        %ul.dropdown-menu
          %li
            = link_to :account_info do
              %i.icon-info-circled
              = t("layout.account_info_link")
          %li
            = link_to :profile do
              %i.icon-user
              = t("layout.profile_link")
          %li
            = link_to :clients do
              %i.icon-users-1
              = t("layout.clients_link")
      %li= link_to t("layout.log_out_link"), :logout
