<div id="navbar">
  <!-- <a class="brand" href="/dashboard">SurveysKitchen</a> -->
  <div class="content">

    <div class="nav-wrapper">
      <ul class="nav left">
        <%=content_tag :li, class: (request.path =~ /\A\/(features)(\/)?\z/ ? 'active' : '')  do -%>
          <%= link_to 'Features', :features %>
        <%-end-%>
        <%=content_tag :li, class: (request.path =~ /\A\/(about)(\/)?\z/ ? 'active' : '')  do -%>
          <%= link_to 'About', :about %>
        <%-end-%>
        <%=content_tag :li, class: (request.path =~ /\A\/(plans)(\/)?\z/ ? 'active' : '')  do -%>
          <%= link_to 'Plans & Pricing', :plans %>
        <%-end-%>
      </ul>
    </div>

    <%= link_to "/", id: 'home-link' do %>
      <span>S</span>urveys<span>K</span>itchen
    <% end %>


    <ul class="simple-nav right">
      <li><%= link_to t("layout.log_in_link"), :login %></li>
    </ul>
  </div>
</div>