<%= content_tag_for :tr, client do %>
	<td class="name">
		<%= link_to client.full_name, client %>
	</td>
	<td class="email">
		<%= link_to client.email, client %>
	</td>
	<td class="note"><%= client.note %></td>
	<td class="actions">
		<%= link_to t('clients.index.edit_btn'), edit_client_path(client), class: 'btn small' %>
		<a class='btn small'><%= t('clients.index.delete_btn') %></a>
	</td>
<% end %>