.page-header
  = raw t("clients.edit.title", name: @client.full_name)

= semantic_form_for(@client, html:{ class: 'form-horizontal' }) do |f|
  .row
    .col-md-6
      
      .form-group.input
        %label.col-md-2.control-label= t("clients.edit.f_name")
        .col-md-10
          .controls= f.text_field :first_name, class: 'form-control'

      .form-group.input
        %label.col-md-2.control-label= t("clients.edit.l_name")
        .col-md-10
          .controls= f.text_field :last_name, class: 'form-control'

      .form-group.input
        %label.col-md-2.control-label= t("clients.edit.email")
        .col-md-10
          .controls= f.email_field :email, class: 'form-control'

    .col-md-6
      .form-group.input
        %label.col-md-2.control-label= t("clients.edit.note")
        .col-md-10
          .controls= f.text_area :note, class: 'form-control', rows: 6

  
  = f.submit t(".save_btn"), class: "btn btn-success"
  = link_to t(".back_to_list"), :clients, class: "btn btn-default"