  <%= page_header t("clients.index.title") %>

  <% if @clients.any? %>
    <table id="clients_list" cellspacing="0">
    	<thead>
	    	<tr>
	    		<td><%= t("clients.index.thead_name") %></td>
	    		<td><%= t("clients.index.thead_email") %></td>
	    		<td><%= t("clients.index.thead_note") %></td>
	    		<td></td>
	    	</tr>
    	</thead>

    	<%= render @clients %>
    </table>
  <% else %>
    <h4><%= t("clients.index.no_items") %></h4>
  <% end %>
  <br>
  <%= link_to t("clients.index.add_link"), :new_client, class: 'btn' %>