.page-header
  %h3= t("clients.index.title")

- if @clients.any?
  #clients_list
    .row.hidden-sm.hidden-xs#header
      .col-md-2= t("clients.index.thead_name")
      .col-md-2= t("clients.index.thead_email")
      .col-md-5= t("clients.index.thead_note")
      .col-md-3
    = render @clients
- else
  %h4= t("clients.index.no_items")
%br
= link_to t("clients.index.add_link"), :new_client, class: 'btn btn-default'