<%= page_header t("clients.new.title") %>

<div class="vertical_accordion">
	<div class="tab active">
		<div class="handle">
			<label>
				<input type="radio" name="import_type" checked></input>
				<%= t('clients.new.manually') %>
			</label>
		</div>
		<div class="tab-content">
			<%= form_tag :clients, class: 'new_client_form' do %>
				<div class="fields">
					<%= t('clients.new.one_per_line') %>
					<%= text_area_tag :clients_list, @unprocessed_lines, placeholder: "client@mail.com, John, Smith", class: 'import_area' %>
				</div>
				<%= submit_tag t('clients.new.save_btn') %>
			<% end %>
		</div>
	</div>
	<div class="tab">
		<div class="handle">
			<label>
				<input type="radio" name="import_type"></input>
				<%= t('clients.new.csv_file') %>
			</label>
		</div>
		<div class="tab-content">
			<%= form_tag :clients do %>
				<%= file_field :clients_list_file, '' %>

				<%= submit_tag t('clients.new.import_btn') %>
			<% end %>
		</div>
	</div>
	<div class="tab">
		<div class="handle">
			<label>
				<input type="radio" name="import_type"></input>
				<%= t('clients.new.external_service') %>
			</label>
		</div>
		<div class="tab-content">
			<%= form_tag :clients do %>

				<%= submit_tag t('clients.new.import_btn') %>
			<% end %>
		</div>
	</div>
</div>

<% content_for :js do %>
<script>
	$('.vertical_accordion').jAccordion();
	$(".new_client_form .import_area").linedtextarea();
</script>
<% end %>