.page-header
  %h3= @client.full_name

.fields
  .row
    .col-md-12
      %strong= t("profiles.show.email")
      .uneditable= @client.email
  .row
    .col-md-12
      %strong= t("profiles.show.note")
      .uneditable.small= @client.note

  .row
    .col-md-12
      = link_to t(".back_to_list"), :clients, class: "btn btn-default"
      = link_to t(".edit"), edit_client_path(@client), class: "btn btn-default"