<%= page_header t("clients.show.title", name: @client.full_name), default_client_menu: true %>

<div class="fields">
    <%= label_tag :first_name do %> <%= t("profiles.show.first_name") %>
    	<div class="uneditable"><%= @client.first_name %></div>
    <% end %>
    <%= label_tag :last_name do %> <%= t("profiles.show.last_name") %>
    	<div class="uneditable"><%= @client.last_name %></div>
    <% end %>
    <%= label_tag :email do %> <%= t("profiles.show.email") %>
    	<div class="uneditable"><%= @client.email %></div>
    <% end %>
    <%= label_tag :note do %> <%= t("profiles.show.note") %>
    	<div class="uneditable small"><%= @client.note %></div>
    <% end %>
</div>