	<h2 id="main-wording" class="center-content">
		You're just a couple minutes ahead of starting 
		creating professional online surveys.
	</h2>

	<div class="marketing-section">
		<%= link_to "Start cooking surveys", "", class: 'signup-btn' %>
	</div>

	<div class="marketing-section">
		<h3>Why to use online surveys?</h3>
		online surveys benefits:
		blah <br>
		blah <br>
		blah
	</div>

	<div class="marketing-section">
		<h3>8 different survey item types for everyone's needs:</h3>
		<ol>
			<li>
				<h4>Rich text fragment </h4> 
				Rich text fragment is used to place some descriptive text on your survey. 
				It has very common to usual word processor features like creating paragraphs, blocquotes, 
				making text bold or italic, inserting images and many more.
			</li>
			<li>
				<h4>Drop down item</h4>
			</li>
			<li>
				<h4>Multiple select item</h4>
			</li>
			<li>
				<h4>Scale item</h4>
			</li>
			<li>
				<h4>Single select item</h4>
				Classic surveying component. It presents a list of items from which you may choose only one.
			</li>
			<li>
				<h4>Text field item</h4>
				Text field is used to gather some user input. It may also be called "open type question". 
				For short inputs you may choose text field and if you're expecting some extended response then your choose is textarea.
			</li>
			<li>
				<h4>Video item</h4>
				With help of video item you can easily embed any video from YouTube or Vimeo. 
				Just put the link of the clip into textbox, choose desired frame size and you're all done. 
			</li>
			<li>
				<h4>Page break item</h4>
				Page break splits survey into pages from the place it was inserted. It is just the same survey item and
				can be moved/copied as well.
			</li>
		</ol>
	</div>

<div class="padded-content center-content">
	<div style="font-size: 80px; line-height: 100px;">
		<span style="color: #138A8F">S</span>urveys<span style="color: #138A8F">K</span>itchen
	</div>

	<h4>
		SurveysKitchen is a web based software that enables you create online polls and surveys, 
		gather responses and know your customer's opinion. 
		It works fine both on desktop and mobile devices. It's currently free so sign up and test.
	</h4>

	<br />

	<h5>Visit <%= link_to "sign in form", :login %> to enter the site or choose from the providers below:</h5>
	<div class="center-content">
		<%= link_to "", "/auth/facebook", class: 'sign-in-facebook' %>
		<%= link_to "", "/auth/twitter", class: 'sign-in-twitter' %>
	</div>

	<h3>Get ready for something special soon!</h3>
	<div class="progress progress-striped active">
	  <div class="bar" style="width: 70%;"></div>
	</div>

	

	<div>
		<%= link_to "@pashka4281", 'https://twitter.com/pashka4281' %>
	</div>

</div>
