
<%= content_for :head do %>
	<meta property="og:image" content="http://www.surveyskitchen.com/images/marketing/fb-share-img.png">
<% end %>

<% title('онлайн сервис для создания профессиональных опросов. Бесплатно.') %>

	<h1 id="main-wording" class="center-content">
		Онлайн опросы профессионального уровня теперь доступнее.
		<small>Уже через несколько минут вы сможете создавать качественные опросы, собирать и анализировать результаты</small>
	</h1>

	<div class="marketing-section">
		<h2 class="left-text">SurveysKitchen поможет вам в этом</h2>
		<img src="/images/marketing/surveyskitchen.png" alt="SurveysKitchen image" class="right padding-left">
		<p>
				&emsp;Опрос это один из самых распространённых методов получения информации относительно уровня
			знаний, отношений к продукту, предпочтений и покупательского поведения респондентов.
		</p>
		<p>
				&emsp;Информация - один из важнейших ресурсов современного общества. Хотите ли вы узнать мнение о продукте,
			оценить степень удовлетворенности сотрудников, провести социологическое исследование или узнать
			мнение друзей по поводу прошедшего или только планирующегося торжества, SurveysKitchen окажет вам в этом помощь.
		</p>
		<p>
				&emsp;Цифровые технологии дают широкие возможности для быстрого создания опросов,
			получения мгновенных результатов а также их глубокого и качественного анализа. 
		</p>
		<p>
				&emsp;SurveysKitchen дает все необходимые инструменты для этого. <br>
			<b>Необходимо пройти всего три простых шага для того чтобы провести опрос:</b>
		</p>

		<ol class="row margin-top" id="survey-steps">
			<li class="column one-third">
				<img src="/images/marketing/create-survey.png" alt="Создание опроса">
				<h3>Создайте опрос</h3>
				<p>
					Мы создали простой, но в то же время удобный конструктор опросов.
					Он рассчитан на одинаково удобную работу как с большими опросами, содержащими десятки вопросов,
					так и с маленькими, в которых всего несколько вопросов. <!-- Конструктор опросов одинаково удобен 
					для работы с вашего домашнего компьютера и с мобильного телефона или планшета. -->
				</p>
				<%= link_to "Узнать больше о конструкторе опросов", '#' %> 
			</li>
			<li class="column one-third">
				<img src="/images/marketing/collect-responses.png" alt="Сбор результатов">
				<h3>Соберите результаты</h3>
				К вашим услугам предоставляются 5 способов распространиения опроса:
				<ul>
					<li>
						<span class="highlight">Прямая ссылка.</span> Отправляйте ссылку респондентам по электронной почте, в чате или в социальных сетях.
						<!-- Вы также можете задавать адрес, на который респондент будет перенаправлен после прохождения опроса.  -->
					</li>
					<li>
						<span class="highlight">Email.</span> В SurveysKitchen вы можете воспользоваться функцией отправки приглашения для прохождения опроса
						на электронный адрес респондента. <!-- Вы можете персонализировать приглашение для респондентов, 
						сохраненных в адресной книге вашей учетной записи. --> Поддерживаются напоминания, а удобный инструмент создания 
						электронных писем и шаблоны помогут сделать их быстрей и качественней.
					</li>
					<li>
						<span class="highlight">Встроенный опрос.</span> SurveysKitchen дает возможность встроить опрос на страницу
						вашего сайта или блога.
					</li>
					И другие
<!-- 						<li>
						Приглашение к прохождению опроса. Размещайте на своей странице приглашение к прохождению опроса в виде 
						специальной кнопки. Вы можете настраивать частоту ее показов а также внешний вид.
					</li>

					<li>
						Социальные сети. Отпраляйте ссылку на ваш опрос в Facebook, Twitter, Google+ или Вконтакте 
						при помощи нажатия всего одной кнопки.
					</li> -->
				</ul>
				<%= link_to "Узнать больше о способах сбора результатов", '#' %> 
			</li>
			<li class="column one-third">
				<img src="/images/marketing/analyze-results.png" alt="Анализ результатов">
				<h3>Анализируйте результаты</h3>
				<p>
					SurveysKitchen дает мощные инструменты анализа ответов. Поддерживается сортировка по отдельным ответам,
					графическое представление информации, просмотр отдельных ответов, сравнение ответов сохранение отчета в
					виде документа PDF/CSV, функция "поделиться отчетом" даст возможность представить данные вашему коллеге, 
					который еще не пользуется SurveysKitchen.
				</p>
				<%= link_to "Узнать больше о возможностях отчетов", '#' %> 
			</li>
		</ol>
<!--
		<div class="row">
			<div class="img-block column half-width">
				<img src="/images/marketing/surveys-list.png" alt="Surveys list image">
				<div class="description">
					<h4>Surveys list</h4>
					Manage all your surveys in one place. Activate/deactivate survey right from the list.
				</div>
			</div>
			
			<div class="img-block column half-width">
				<img src="/images/marketing/survey-builder.png" alt="Survey builder image">
				<div class="description">
					<h4>Awesome survey builder</h4>
					We created great survey builder to utilize all that power SurveysKitchen put into surveys.
					Self-explanationary easy to use and working same good on both destktop and mobile browsers.
				</div>
			</div>
		</div>
-->

		<%= link_to "Создать опрос бесплатно", :register, class: 'signup-btn' %>
	</div>
