
<%= content_for :head do %>
	<meta property="og:image" content="http://www.surveyskitchen.com/images/marketing/fb-share-img.png">
<% end %>

<% title('online web surveying service. Create professional surveys for free.') %>
<div id="fixed-content">
	<h1 id="main-wording" class="center-content">
		Professional online surveys became more accessible now.
		<small>Just in couple of minutes you will be able to create professional quality surveys, gather and analyze results.</small>
	</h1>

	<div class="marketing-section">
		<div id="screens-block">
			<img alt="Surveys list" class="lft" src="/images/marketing/Surveyskitchen-surveys.png">
			<img alt="Demo report" class="rgt" src="/images/marketing/Surveyskitchen-report.png">
			<img alt="Survey builder" class="ctr" src="/images/marketing/Surveyskitchen-builder.png">
		</div>
		<div id="under-screenshots-block">
			Start using now. Only 20 seconds to register.
			<%= link_to "Create survey for free", :register, class: 'signup-btn small' %> 
			<%= link_to "Survey builder . Demo", :demo_s_builder, class: 'signup-btn small red' %>
			
			<!-- В Украине 88% руководителей не знакомы с облачными сервисами. Присоединитесь к 12% людей, которые используют -->
		</div>
		<h3>
			SurveysKitchen is a tool that helps you to make correct decisions relying on qualitative information.
		</h3>

<ol class="row margin-top" id="survey-steps">
			<li class="column one-third feature-column">
				<img src="/images/marketing/create-survey.png" alt="Создание опроса">
				<h3 class="left-text2">Survey builder</h3>
				<p>
					Simple and intuitive survey builder interface with drag & drop.
				</p>
				<%= link_to "Know more (ru)", 'http://www.surveyskitchen.com/blog/ispolzuem-konstruktor-surveyskitchen-effektivno', style: "display: inline-block;margin-left: 80px" %> 
			</li>
			<li class="column one-third feature-column">
				<img src="/images/marketing/collect-responses.png" alt="Сбор результатов">
				<h3 class="left-text2">Share methods</h3>
				<p>Effective ways of sharing your surveys including direct link, embedded surveys, email, and more.</p>

				<%#= link_to "Узнать больше", '#', style: "display: inline-block;margin-left: 80px" %> 
			</li>
			<li class="column feature-column">
				<img src="/images/marketing/analyze-results.png" alt="Анализ результатов">
				<h3 class="left-text2">Reports</h3>
				<p>Analyze results in graphical form. Zero delay for new responses.</p>
				<%#= link_to "Узнать больше", '#', style: "display: inline-block;margin-left: 80px" %>
			</li>
		</ol>
<!--
		<div class="row">
			<div class="img-block column half-width">
				<img src="/images/marketing/surveys-list.png" alt="Surveys list image">
				<div class="description">
					<h4>Surveys list</h4>
					Manage all your surveys in one place. Activate/deactivate survey right from the list.
				</div>
			</div>
			
			<div class="img-block column half-width">
				<img src="/images/marketing/survey-builder.png" alt="Survey builder image">
				<div class="description">
					<h4>Awesome survey builder</h4>
					We created great survey builder to utilize all that power SurveysKitchen put into surveys.
					Self-explanationary easy to use and working same good on both destktop and mobile browsers.
				</div>
			</div>
		</div>
-->

		<%= link_to "Create survey. Free.", :register, class: 'signup-btn' %>
	</div>
</div>