<%= 
	page_header t("share_methods.form_link.title"), 
	submenu: link_to(t('share_methods.form_common.back_to_share_methods'), share_survey_path(@survey))
%>

<%= semantic_form_for @share_method, :url => shares_path do |f| %>
	<div class="opt">
		<label>
			<input type="radio" name="link_type" checked="checked" value="0"></input>
			<%= t('share_methods.form_link.token') %>
		</label>
		<div class="description">
			<%= t('share_methods.form_link.preview') %>
			<span>http://www.surveyskitchen.com/s/XXXXXX</span>
		</div>
	</div>

	<div class="opt">
		<label>
			<input type="radio" name="link_type" value="1"></input>
			<%= t('share_methods.form_link.custom_url') %>
		</label>
		<div class="padded fields"><%= f.text_field :custom_url, disabled: 'disabled', id: 'custom_url_field' %></div>
		<div class="description">
			<span id="custom_field_descr">http://www.surveyskitchen.com/s/YOUR_URL</span>
		</div>
	</div>

	<%= hidden_field_tag 'share_method[survey_id]', @survey.id %>
	<%= hidden_field_tag 'type', 'link' %>

	<%= f.submit 'активировать' %>
<% end %>

<style type="text/css">
	.opt{
		padding: 7px;
		border: 1px solid #ccc;
		margin-bottom: 5px;
	}
	.opt label{
		font-weight: bold;
	}
	.opt .description{
		padding: 5px;
	}
</style>

<%= content_for :js do %>
<script type="text/javascript">
	$(function(){
		$('#custom_url_field').bind('change keyup keydown', function(){
			$('#custom_field_descr').text('http://www.surveyskitchen.com/s/' + $(this).val())
		}).change();

		$('input[name="link_type"]').change(function(){
			if($(this).val() == 1)
				$('#custom_url_field').removeAttr('disabled')
			else
				$('#custom_url_field').attr('disabled', true)
		})
	})
</script>
<% end %>