<%= content_tag :li, response, class: "response" do %>
	<%= link_to 'details', survey_response_path(@survey, response), class: 'button' %>
	<span class="icon-browser <%= response.agent.device.engine.browser.type %>"></span>
	<td><%= response.created_at.to_s(:date_and_time)  %></td>
	<td><%= response.remote_ip %></td>
	<td><%= link_to "Remove", [@survey, response], method: :delete, class: 'button', confirm: 'Are you sure?' %></td>
<% end %>