<div class="padded-content">
	<%= page_header "<b>#{@survey.name}</b> --Responses > ##{@response.id}", default_survey_menu: true %>

	<div class="row">
		<div class="column half-width">
			<%= link_to "<<", "", class: 'btn' %>
			<%= link_to ">>", "", class: 'btn', disabled: 'disabled' %>
		</div>
		<div class="column half-width">
			<div id="response-meta" class="f16">
				<div class="meta-row">
					<span class="label">Submitted on </span> <%= @response.created_at.to_s(:date_and_time) %>
				</div>
				<div class="meta-row">
					<span class="label">Browser </span> 
					<% if @response.agent.device.engine.browser %>
						<span class="icon-browser <%= @response.agent.device.engine.browser.type %>"></span> <%= @response.agent.device.engine.browser %>
					<% else %>
						<span class="icon-help"></span> Unknown
					<% end %>
				</div>

				<div class="meta-row">
					<span class="label">Country </span> 
					<% if @response.geodata %>
						<span class="flag <%= @response.geodata[:country_code].downcase %>"></span> <%= @response.geodata[:country_name] %>
					<% else %>
						<span class="icon-help"></span> Unknown
					<% end %>
				</div>
				<div class="meta-row">
					<span class="label">Platform </span> <%= @response.agent.device.operating_system %>
				</div>
				<div class="meta-row">
					<span class="label">Device </span> 
					<% if @response.agent.device.is_mobile? %> Mobile <% else %> Desktop <% end %>
				</div>
			</div>
		</div>
	</div>


	<table id="response-details" cellspacing="0">
		<% @response.content.each_with_index do |x,i| %>
			<% s_item = @survey_items.select{|s| s.id.to_s == x[0] }.first %>
			<%= render "/survey_items/result_item", item: s_item, result: x[1], index: i %>
		<% end %>
	</table>

	
</div>