<%= form_for @survey, html: {class: 'form'} do |f| %>
  <div class="fields">
    <%= f.label :name do %> <%= t("surveys.form.name") %>
      <%= f.text_field :name, class: 'span5', placeholder: t("surveys.form.name_placeholder")  %>
    <% end %>

    <%= f.label :category_id do %> <%= t("surveys.form.category") %>
      <%= f.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Select'}, class: 'span5')%>
    <% end %>
    <%= f.label :description do %> <%= t("surveys.form.description") %>
      <%= f.text_area :description, rows: 5, class: 'span5', placeholder: t("surveys.form.descr_placeholder") %>
    <% end %>
  <!--
    <%= f.label :interactive do %> <%= t("surveys.form.interactive") %>
      <%=f.check_box :interactive, class: 'checkbox disabled', disabled: 'disabled' %>
    <% end %>

     <label for="survey_prefill_items" class="checkbox">
      <%=f.check_box :prefill_items, class: 'checkbox' %> Prefill survey with example items
    </label>
  -->
  </div>
  <%= f.submit class: 'btn btn-success' %>
<% end %>