<%= form_for @survey, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :account_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :items_positions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :items_positions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :setup_finished, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :setup_finished, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :category_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :token, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :token, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                surveys_path, :class => 'btn' %>
  </div>
<% end %>
