<%= stylesheet_link_tag 'client' %>

<%= semantic_form_for @theme, url: '' do |f| %>

	<div id="theme-editor">
		<%= f.inputs :common, id: 'common', class: 'fields' do %>
			<%= f.input :name, label: t('themes.form.theme_name') %>
		<% end %>
		<div class="vertical_accordion">
			<div class="tab active">
				<div class="handle">
					<label>
						<%= t('themes.form.survey_common') %>
					</label>
				</div>
				<div class="tab-content">
					<%= f.inputs :bg, id: 'survey_common', class: 'fields' do %>
						<%= f.input :survey_bg_color, input_html:{class: 'color_input'}, label: t('themes.form.survey_bg_color') %>
						<%= f.input :inner_grid_border_color, input_html:{class: 'color_input'}, label: t('themes.form.inner_grid_color') %>
						<%= f.input :highlighted_area_color, input_html:{class: 'color_input'}, label: t('themes.form.highlighted_area_color') %>
					<% end %>
				</div>
			</div>
			<div class="tab">
				<div class="handle">
					<label>
						<%= t('themes.form.survey_header') %>
					</label>
				</div>
				<div class="tab-content">
					<%= f.inputs :survey_header, id: 'survey_header', class: 'fields' do %>
						<%= f.input :survey_title_txt_color, input_html:{class: 'color_input'}, label: t('themes.form.survey_title_txt_color') %>
						<%= f.input :survey_title_bg_color, input_html:{class: 'color_input'}, label: t('themes.form.survey_title_bg_color') %>
						<%= f.input :survey_title_font_name, label: t('themes.form.survey_title_font_name') %>
						<%= f.input :survey_title_size, label: t('themes.form.survey_title_size'), as: :select, collection: (1..5).to_a, include_blank: false %>
						<%= f.input :survey_title_font_b, label: raw(t('themes.form.survey_title_font_b')) %>
						<%= f.input :survey_title_font_i, label: raw(t('themes.form.survey_title_font_i')) %>
						<%= f.input :survey_title_font_u, label: raw(t('themes.form.survey_title_font_u')) %>
					<% end %>
				</div>
			</div>
			<div class="tab">
				<div class="handle">
					<label>
						<%= t('themes.form.item_header') %>
					</label>
				</div>
				<div class="tab-content">
					<%= f.inputs :item_header, id: 'item_header', class: 'fields' do %>
						<%= f.input :item_title_txt_color, input_html:{class: 'color_input'}, label: t('themes.form.item_title_txt_color') %>
						<%= f.input :item_title_font_name, label: t('themes.form.item_title_font_name') %>
						<%= f.input :item_title_size, label: t('themes.form.item_title_size'), as: :select, collection: (1..5).to_a, include_blank: false  %>
						<%= f.input :item_title_font_b, label: raw(t('themes.form.item_title_font_b')) %>
						<%= f.input :item_title_font_i, label: raw(t('themes.form.item_title_font_i')) %>
						<%= f.input :item_title_font_u, label: raw(t('themes.form.item_title_font_u')) %>
					<% end %>
				</div>
			</div>
				<div class="tab">
				<div class="handle">
					<label>
						<%= t('themes.form.item_inner') %>
					</label>
				</div>
				<div class="tab-content">
					<%= f.inputs :item_inner, id: 'item_inner', class: 'fields' do %>
						<%= f.input :item_inner_txt_color, input_html:{class: 'color_input'}, label: t('themes.form.item_inner_txt_color') %>
						<%= f.input :item_inner_font_name, label: t('themes.form.item_inner_font_name') %>
						<%= f.input :item_inner_size, label: t('themes.form.item_inner_size'), as: :select, collection: (1..5).to_a, include_blank: false  %>
						<%= f.input :item_inner_font_b, label: raw(t('themes.form.item_inner_font_b')) %>
						<%= f.input :item_inner_font_i, label: raw(t('themes.form.item_inner_font_i')) %>
						<%= f.input :item_inner_font_u, label: raw(t('themes.form.item_inner_font_u')) %>
					<% end %>
				</div>
			</div>
		</div>


		<%= f.submit %>
	</div>

	<div id="theme-preview" class="sk-survey">
		<h2 id="title"><%= @example_survey.name %></h2>

		<div class="padded-content">
			<% counter = 0 %>
			<div class="a-page">
				<%- @paged_items.shift.each do |i| -%>
					<% counter += 1 unless [SurveyItems::PageBreak, SurveyItems::DescText].include?(i.class) %>
					<%= render "/survey_items/client_items/#{i.type.demodulize.underscore}", item: i, counter: counter %>
				<%- end -%>
			</div>
			<%- @paged_items.each do |page_elements| -%>
				<div class="a-page">
					<%- page_elements.each do |i| -%>
						<% counter += 1 unless [SurveyItems::PageBreak, SurveyItems::DescText].include?(i.class) %>
						<%= render "/survey_items/client_items/#{i.type.demodulize.underscore}", item: i, counter: counter %>
					<% end %>
				</div>
			<% end %>
		</div>

		<button class="btn">Done</button>
	</div>
<% end %>

<style type="text/css">
	.vertical_accordion .tab-content{
		min-height: 175px;
		label b{ font-weight: bold; }
		b{ font-weight: bold; }
	}
</style>

<% content_for :js do %>
<script>
	$(document).ready(function(){
		$('.vertical_accordion').jAccordion();
		$(".new_client_form .import_area").linedtextarea();
		$('#theme-editor .color_input').minicolors({
		    animationSpeed: 100,
		    animationEasing: 'swing',
		    change: null,
		    changeDelay: 50,
		    control: 'hue',
		    hide: null,
		    hideSpeed: 100,
		    inline: false,
		    letterCase: 'lowercase',
		    opacity: false,
		    position: 'default',
		    show: null,
		    showSpeed: 100,
		    swatchPosition: 'left',
		    textfield: true,
		    theme: 'default'
		});
		//theme editor callbacks
		_survey = $('.sk-survey');

		$(document).on('change', '#survey_theme_survey_bg_color', function(){
			_survey.css('background-color', $(this).val())
		})
		$(document).on('change', '#survey_theme_inner_grid_border_color', function(){
			_survey.find('.grid-table td').css('border-bottom', "1px dotted " + $(this).val())
		})
		$(document).on('change', '#survey_theme_highlighted_area_color', function(){
			_survey.find('.highlighted').css('background-color', $(this).val())
		})
		$(document).on('change', '#survey_theme_survey_title_bg_color', function(){
			_survey.find('h2#title').css('background-color', $(this).val())
		})
		$(document).on('change', '#survey_theme_survey_title_txt_color', function(){
			_survey.find('h2#title').css('color', $(this).val())
		})


		$('#theme-editor input').change()
	})
	

</script>
<% end %>