
<select size="5" id="theme-selector">
	<% for th in @my_themes %>
		<option value="<%= th.id %>" <%== 'selected="selected"' if @survey.theme_id == th.id%> class="opt"><%= th.name %></option>
	<% end %>
</select>

<div>
	<button class="btn" id="apply-btn">Применить</button>
	<!-- <button class="btn" id="delete-btn" data-confirm="Sure?">Удалить</button> -->
	<button class="btn" id="edit-btn">Изменить</button>
	<%= link_to t('surveys.look.create_theme'), look_survey_path(@survey, page: 'theme_builder'), class: 'btn' %>
</div>


<style type="text/css">
	select{
		min-width: 200px;
		outline: none;
		background-color: #fff;
	}
	select 	option[selected]{
		/*background-color: #FF5130;	*/	
	}
	.opt{ background-color: #fff; }
</style>

<% content_for :js do %>
<script>
	$(document).ready(function(){
		var theme_select = $('#theme-selector').change(function(){
			var _val = $(this).val(),
				_btns = $("#apply-btn, #delete-btn, #edit-btn");
			if(_val == null){
				_btns.attr('disabled', true);
			}else{
				_btns.removeAttr('disabled');
			}
			//console.log('val: ' + $(this).val())
		}).change();

		$('#apply-btn').click(function(){
			$.ajax({
				url: '<%= survey_path(@survey) %>',
				type: 'PUT',
				data: {
					survey: { theme_id: theme_select.val()}
				},
				success: function(){
					alert('<%= t("surveys.look.applied_theme") %>')
				}
			})
		})
		$('#edit-btn').click(function(){
			window.location = "<%= look_survey_path(@survey, page: 'theme_builder')%>&theme_id=" + theme_select.val();
		})
	})
</script>
<% end %>