= div_for survey, class: survey.active ? 'active' : '' do
  = link_to [:switch, survey], class: 'switch-btn' do 
    %i.icon-off
  .survey-status= survey.active ? t("surveys.index.active") : t("surveys.index.stopped")

  .left-padder
    .survey-header
      %h3= link_to survey.name, builder_survey_path(survey)
      %h5= survey.category.name
      .survey-date= l survey.created_at, format: :full_date_time
    .survey-desc= survey.description
    .links
      = link_to edit_survey_path(survey), class: 'button small' do
        %i.icon-pencil-2
        = t("surveys.index.edit_link")
      = link_to share_survey_path(survey), class: 'button small' do
        %i.icon-share
        = t("surveys.index.share_link")
      = link_to [survey, :responses], class: 'button small' do
        %i.icon-chat-1
        = t("surveys.index.responses_link")
        %span.label.label-default= survey.responses.count
      = link_to [:report, survey], class: 'button small' do
        %i.icon-doc-text
        = t("surveys.index.report_link")
    = link_to t("surveys.index.delete_link"), survey, method: :delete, confirm: t("surveys.index.delete_confirm"), class: 'delete-survey-lnk'
