<% header("Questions builder", subheader: 'All changes here are automatically saved.') %>

<%= page_header t('surveys.builder.title', name: @survey.name), nomargin: true, default_survey_menu: true %>

	<div id="build_list"  class="list">
		<div id="zero-item" class="survey_item">
            <%= insert_button %>
    	</div>
    
        <div id="no-items-area">
        	<div id="work-area-texting" class="fifteen columns centered centr-text vspace-big">
        		<h3>This is your working area.</h3>
        		<h5>Start building survey by inserting items here.</h5>
        		<img src="/images/builder-arrow.png"></img>
        	</div>
    	</div>
    
        <%- @survey.sorted_items.each do |i| -%>
        	<%= render_survey_item(i) %>
        <%- end -%>

	</div>

<%= content_for :after_content do %>
<!-- New survey item modal -->
	<div class="modal hide" id="newItemContainer">
		<div class="modal-header">
			<a href="#" class="close"></a>
			<h3>New Item</h3>
		</div>
		<div class="modal-body">
			<div id="new_survey_item">
				<%= render '/survey_items/new' %>
			</div>
			 <div id="newItem"></div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn close">Cancel</a>
			<a href="#" class="btn" id="doneNewItemBtn">Done</a>
		</div>
	</div>

<!-- edit survey item modal -->
	<div class="modal hide" id="editItemContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Edit Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Cancel</a>
	    <a href="#" class="btn" id="doneEditItemBtn">Done</a>
	  </div>
	</div>

<!-- trashed survey items modal -->
	<div class="modal hide fade" id="trashedItemsContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Trash box</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Close</a>
	  </div>
	</div>
<% end %>

<%= content_for :sidebar do %>
<div>
	<div id="sticky-anchor"></div>
	<div id="stickyBar">
		<button class="btn btn-primary" id="cancel-btn">
	    	<i class="icon-cancel"></i> <%= t 'surveys.builder.cancel' %>
	    </button>
	    <button  id="new-item-btn" class="btn btn-primary">
	    	<i class="icon-list-add"></i> <%= t 'surveys.builder.new_item' %> <br>
	    </button>
	    <button id="trashbox-btn" data-url="<%= trashbox_survey_path(@survey) %>" class="btn" data-target="#trashedItemsContainer" data-toggle="modal" role="button">
	    	<i class="icon-trash"></i> <%= t 'surveys.builder.trashbox' %> <span class="trash-cnt">(<%= @survey.items.trashed.count %>)</span>
	    </button>
	    <!-- <button class="btn btn-warning"><i class="icon-wrench"></i> Survey settings</button> -->
	    <button class="btn btn-warning" id="preview-btn"><i class="icon-eye"></i> <%= t 'surveys.builder.preview' %> </button>
	</div>
</div>

<% end %>


<%= content_for :js do %>
	<script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>

	<script>

		var itemsHtmlArray = <%= raw(survey_items_html_array()) %>;

		// document ready 
		$(function(){
			var survey = new Survey({
				survey_id: <%= @survey.id %>,
				survey_update_url: "<%= survey_path(@survey, format: :js) %>",
				total_items: <%= @survey.items.active.count %>,
				itemFormsHtmlArray: itemsHtmlArray,
				trashed_items: <%= @survey.items.trashed.count %>,
				translates: <%= raw translates_for_builder() %>
			});

			$(document).on('click', '#preview-btn', function(){
				window.open("<%= preview_survey_path(@survey) %>",'_blank');
			})
		});
	</script>
<% end %>
