<% header("Questions builder", subheader: 'All changes here are automatically saved.') %>

<%= page_header t('surveys.builder.title', name: @survey.name), nomargin: true, default_survey_menu: true %>

<style type="text/css"><%= raw @survey.theme.to_css %></style>

	<div id="survey_theme_select">
		<span><%= t('surveys.builder.themes_select') %></span>
		<select id="theme-select">
			<optgroup label="<%= t('surveys.builder.themes_global') %>">
				<% for th in @themes_global %>
					<option value="<%= th.id %>" <%= 'selected="selected"' if @survey.theme_id == th.id%>><%= th.name %></option>
				<% end %>
			</optgroup>
			<optgroup label="<%= t('surveys.builder.themes_current') %>">
				<% for th in @themes_current %>
					<option value="<%= th.id %>" <%= 'selected="selected"' if @survey.theme_id == th.id%>><%= th.name %></option>
				<% end %>
			</optgroup>
		</select>
		<%= link_to t('surveys.builder.look_and_feel'), look_survey_path(@survey), class: 'btn small' %>
	</div>

	<div id="build_list"  class="list <%= "survey_theme_#{@survey.theme.id}" %>">
		<div style="border: 1px solid #555">
			<h2 id="title"><%= @survey.name %></h2>
			<div id="zero-item" class="survey_item">
	            <%= insert_button %>
	    	</div>
	    
	        <div id="no-items-area">
	        	<div id="work-area-texting" class="fifteen columns centered centr-text vspace-big">
	        		<h3>This is your working area.</h3>
	        		<h5>Start building survey by inserting items here.</h5>
	        	</div>
	    	</div>
	    
	        <%- @survey.sorted_items.each do |i| -%>
	        	<%= render_survey_item(i) %>
	        <%- end -%>
		</div>
	</div>

<%= content_for :after_content do %>
<!-- New survey item modal -->
	<div class="modal hide item-form" id="newItemContainer">
		<div class="modal-header">
			<a href="#" class="close"></a>
			<h3>New Item</h3>
		</div>
		<div class="modal-body">
			<div id="new_survey_item">
				<%= render '/survey_items/new' %>
			</div>
			 <div id="newItem"></div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn close"><%= t('survey_items.new.cancel_btn') %></a>
			<a href="#" class="btn success" id="doneNewItemBtn"><%= t('survey_items.new.done_btn') %></a>
		</div>
	</div>

<!-- edit survey item modal -->
	<div class="modal hide item-form" id="editItemContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Edit Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Cancel</a>
	    <a href="#" class="btn" id="doneEditItemBtn">Done</a>
	  </div>
	</div>

<!-- trashed survey items modal -->
	<div class="modal hide fade" id="trashedItemsContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Trash box</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Close</a>
	  </div>
	</div>
<% end %>

<%= content_for :sidebar do %>
<div>
	<div id="sticky-anchor"></div>
	<div id="stickyBar">
		<button class="btn btn-primary" id="cancel-btn">
	    	<i class="icon-cancel"></i> <%= t 'surveys.builder.cancel' %>
	    </button>
	    <button  id="new-item-btn" class="btn btn-primary">
	    	<i class="icon-list-add"></i> <%= t 'surveys.builder.new_item' %> <br>
	    </button>

	    <button id="trashbox-btn" data-url="<%= trashbox_survey_path(@survey) %>" class="btn" data-target="#trashedItemsContainer" data-toggle="modal" role="button">
	    	<i class="icon-trash"></i> <%= t 'surveys.builder.trashbox' %> <span class="trash-cnt">(<%= @survey.items.trashed.count %>)</span>
	    </button>
	    <!-- <button class="btn btn-warning"><i class="icon-wrench"></i> Survey settings</button> -->
	    <button class="btn btn-warning" id="preview-btn"><i class="icon-eye"></i> <%= t 'surveys.builder.preview' %> </button>
	</div>
</div>

<% end %>


<%= content_for :js do %>
	<script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>

	<script>

		var itemsHtmlArray = <%= raw(survey_items_html_array()) %>;

		// document ready 
		$(function(){
			var survey = new Survey({
				survey_id: <%= @survey.id %>,
				survey_update_url: "<%= survey_path(@survey, format: :js) %>",
				total_items: <%= @survey.items.active.count %>,
				itemFormsHtmlArray: itemsHtmlArray,
				trashed_items: <%= @survey.items.trashed.count %>,
				translates: <%= raw translates_for_builder() %>
			});

			$(document).on('click', '#preview-btn', function(){
				window.open("<%= preview_survey_path(@survey) %>",'_blank');
			})

			$(document).on('change', '#theme-select', function(){
				_el = $(this)
				$.ajax({
					url: "<%= survey_path(@survey) %>",
					method: "PUT",
					data: {
						survey: { theme_id: _el.val() }
					},
					success: function(){
						location.reload();
					}
				})
			})
		});
	</script>
<% end %>
