<% header("Questions builder", subheader: 'All changes here are automatically saved.') %>

<%= page_header "#{@survey.name} (#{link_to('edit', [:edit, @survey], class: 'light')}) -- Survey Builder" %>

    	<div id="build_list"  class="list">

			<div id="zero-item" class="insertable">
	            <%= insert_button %>
        	</div>
        
	        <div id="no-items-area" class="insertable">
	        	<%= insert_button %>
            	<div id="work-area-texting" class="fifteen columns centered centr-text vspace-big">
            		<h3>This is your working area.</h3>
            		<h5>Start building survey by inserting questions here.</h5>
	        	</div>
        	</div>
        
	        <%- @survey.sorted_items.each do |i| -%>
	          <%= render_survey_item(i) %>
	        <%- end -%>

    	</div>

	<div class="navbar navbar-fixed-bottom" id="newItemBar">
	  <div class="navbar-inner">
	  		<div class="container">
	  			<div class="btn-group pull-left">
				    <a href="<%= new_survey_item_path(@survey) %>" data-target="#newItemContainer" role="button" data-toggle="modal" class="btn btn-primary">
				    	<i class="icon-plus-sign"></i> New Item
				    </a>
				    <a href="<%= trashbox_survey_path(@survey) %>" class="btn btn-info" data-target="#trashedItemsContainer" data-toggle="modal" role="button">
				    	<i class="icon-trash"></i> Trash box (<%= @survey.items.trashed.count %> items)
				    </a>
				    <a class="btn btn-warning" href="#"><i class="icon-wrench"></i> Survey settings</a>
				</div>
		  		
				<a href="<%= deploy_survey_path(@survey) %>" class="btn btn-success pull-right"><i class="icon-ok"></i> Done</a>
			</div>
	  </div>
	</div>

<!-- New survey item modal -->
	<div class="modal hide fade" id="newItemContainer">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>New Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
	    <a href="#" class="btn btn-primary" data-dismiss="modal" id="doneNewItemBtn">Done</a>
	  </div>
	</div>

<!-- edit survey item modal -->
	<div class="modal hide" id="editItemContainer">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Edit Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
	    <a href="#" class="btn btn-primary" data-dismiss="modal" id="doneEditItemBtn">Done</a>
	  </div>
	</div>

<!-- trashed survey items modal -->
	<div class="modal hide fade" id="trashedItemsContainer">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Trash box</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
	  </div>
	</div>


<%= content_for :js do %>
	<script>

		
		// document ready 
		$(function(){

			var survey = new Survey({
				survey_id: <%= @survey.id %>,
				survey_update_url: "<%= survey_path(@survey, format: :js) %>",
				total_items: <%= @survey.items.active.count %> 
			});
		});
	</script>
<% end %>
