<% header("Questions builder » #{@survey.name}", subheader: 'All changes here are automatically saved.') %>

<%#=render 'shared/nav_menu' %>

  <div class="row">
   
    <div class="twelve columns centered top-span">
      <div id="build_list"  class="list">

				<div id="zero-item" class="row insertable">
            <div class="ten columns centered">
	            <a class="blue button insert_buttons">Insert here »</a>
	          </div>
        </div>
        
        <div id="no-items-area" class="row insertable">
	        <div class="row">
            <div class="ten columns centered">
	            <a class="blue button insert_buttons">Insert here »</a>
	          </div>
	        </div>
          <div class="row">
            <div id="work-area-texting" class="fifteen columns centered centr-text vspace-big">
              <h3>This is your working area.</h3>
              <h5>Start building survey by inserting questions here.</h5>
	          </div>
          </div>

        </div>
        
        <%- @survey.sorted_items.each do |i| -%>
          <%= render_survey_item(i) %>
        <%- end -%>

      </div>
    </div>
  </div>
  
  <div id="newItemBar">
    <div class="row">
      
      <div class="twelve columns centered">
        <div class="row">
          <div class="three columns">
            <a class="blue button" id="newItemBtn" href="#newItemContainer" rel="leanModal">
              <img src="/images/icons/new_item.png">
              <span>Add New Item</span>
            </a>
          </div>
          <div class="three columns">
            <a class="orange button" id="trashBoxBtn" href="" rel="leanModal">
              <img src="/images/icons/trashbox_big.png">
              <span>Trash box (<%#= @survey.items.trashed.count %>0)</span>
            </a>
          </div>
          <div class="four columns">
            <a class="red button" id="trashBoxBtn" href="" rel="leanModal">
              <img src="/images/icons/settings_big.png">
              <span>Survey Settings</span>
            </a>
          </div>
          <div class="three columns offset-by-three">
            <a class="green right button">Done editing</a>
          </div>
          
          </div>
        </div>
        
      </div>
    </div>
  
  </div>



  <div style="display: none" id="newItemContainer" class="reveal-modal large">
    <div class="modal_heading">
      <h5>New Item</h5>
    </div>
    <div class="modal_content">
      <%=render 'survey_items/new' %>
    </div>
      <div class="modal_footer row">
      <div class="two columns offset-by-thirteen">
        <a class="red button modal_close secondary cancelBtn">Cancel</a>
      </div>
      <div class="one column">
        <a class="green button success modal_close" id="doneNewItemBtn">Done</a>
      </div>
  </div>
  </div>




<%= content_for :js do %>
	<script>
		function BuilderUI(params){
			//constructor
			this.working_area = params['working_area'];
			this.survey_items = params['survey_items'];
			this.insert_buttons = params['insert_buttons']; 
			this.delete_links = $('.sortable_item .deleteLnk');
					
			this.insertItem = function(html, pos, total_items){
				var btn = $(this.insert_buttons + '[itemindex='+ pos + ']:not(:hidden)');
				$(html).insertAfter(btn.parents('.insertable')).hide().slideDown();
				if(total_items == 0){ 
					$('#zero-item').show();
					$('#no-items-area').hide();
				} 
				this.renewItemsIndexes();
			}
			
			this.removeItem = function(id){
			  var self = this;
			  $(this.survey_items + '[item_id=' + id + ']').slideUp(300, function(){
			    $(this).remove();
			    self.renewItemsIndexes();
			  });
			}
			
			this.renewItemsIndexes = function(){
				$(this.working_area).find(this.insert_buttons + ':not(:hidden)').each(function(i, el){
					$(el).attr('itemindex', i);
				});
			}
			
			this.renewItemsIndexes();
			
			//change all insert buttons labels to `label`
			this.buttonsLabel = function(label){
				$(this.insert_buttons).html(label);
			}
			
			this.showButtons = function(){
				$(this.insert_buttons).fadeIn(200, function(){
				  $(this).css({visibility: 'visible'});
				})
			}
			this.hideButtons = function(){
				$(this.insert_buttons).fadeOut(200, function(){ 
				  $(this).css({visibility: 'hidden', display: 'block'}) 
				})
			}
			
		} 
	
		function Survey(params){
			//constructor
			this.survey_id = params['survey_id'];
			this.base_path = '/surveys/' + this.survey_id; // e.g. "/survey/1"
			this.builder_ui = params['builder_ui'];
			this.total_items = params['total_items'];
			
			//callbacks:
			this.afterItemAdd = undefined;
			this.onSuccCall  	= undefined;
			this.onErrorCall	= undefined;
			
			//functions			
			this.addItem = function(type, pos, params){
				var self = this;
				$.ajax(this.base_path + '/items', {
					type: 'POST',
					data: {
						item_type: type,
						item_params: params,
						item_position: pos
					}, 
					success: function(resp){ //resp contains new item markup
						self.builder_ui.insertItem(resp, pos, self.total_items);
						self.total_items += 1;
						if(self.afterItemAdd != undefined)
						  self.afterItemAdd(resp, pos);
					},
					error: function(){}
				});
			}		
			
			this.deleteItem = function(id){
			  var self = this;
				$.ajax(this.base_path + '/items/' + id , {
					type: 'DELETE',
					success: function(){ //resp contains new item markup
						self.builder_ui.removeItem(id);
						self.total_items -= 1;
					},
					error: function(){}
				});
			}	
		}
		
		
		// document ready 
		$(function(){
		  $('body').addClass('bottom-padding');
		  $("a[rel*=leanModal]").leanModal({closeButton: ".modal_close", top: '15'});
		  
		  var newSurveyTypeSelector = $('#surveyTypeSelector');
		  newSurveyTypeSelector.dropkick();
		
			var newItemForm = $('#newItemForm');
			if(!<%= @survey.items.any?.to_s %>){ 
				$('#no-items-area').show();
				$('#zero-item').hide();
			}
			
			var builder_ui = new BuilderUI({
				working_area: '#build_list',
				insert_buttons: '.insert_buttons',
				survey_items: '.sortable_item'
			}); 
			
			var survey = new Survey({survey_id: <%= @survey.id%>, 
				builder_ui: builder_ui,
				total_items: <%= @survey.items.count %> });			
			
			//insert buttons click handler:
			$(builder_ui.insert_buttons).live('click', function(){
				type = newSurveyTypeSelector.val();
				survey.addItem(type, $(this).attr('itemindex'), newItemForm.serialize());
				builder_ui.renewItemsIndexes();
				builder_ui.hideButtons();
			});
			
			//remove links click handler:
			$(builder_ui.delete_links).live('click', function(){
				survey.deleteItem($(this).parents('.sortable_item').attr('item_id'));
				return false;
			});
			
			$('.cancelBtn').click(function(){
			  newSurveyTypeSelector.change();
			});
			
			$('#doneNewItemBtn').click(function(){
			  builder_ui.showButtons();
			});
			
			$('#build_list').sortable({ 
				axis: 'y', 
				items: 'div.sortable_item',
				//containment: 'parent',
				handle: '.moveGrabber',
				update: function(){ 
				  var info = $(this).sortable("serialize", {
            key: 'survey[items_positions][]'
          });
          $.ajax({
            url: "<%= survey_path(@survey) %>",
            type: "PUT",
            data: info
          });
				  builder_ui.renewItemsIndexes();
				} 
			});
			
		});
	</script>
<% end %>



