<% header("Questions builder", subheader: 'All changes here are automatically saved.') %>

<%= page_header "#{@survey.name} (#{link_to('edit', [:edit, @survey], class: 'light')}) -- Survey Builder" %>

    	<div id="build_list"  class="list">

			<div id="zero-item" class="insertable">
	            <%= insert_button %>
        	</div>
        
	        <div id="no-items-area" class="insertable">
	        	<%= insert_button %>
            	<div id="work-area-texting" class="fifteen columns centered centr-text vspace-big">
            		<h3>This is your working area.</h3>
            		<h5>Start building survey by inserting items here.</h5>
	        	</div>
        	</div>
        
	        <%- @survey.sorted_items.each do |i| -%>
	          <%= render_survey_item(i) %>
	        <%- end -%>

    	</div>

<%= content_for :after_content do %>
<!-- New survey item modal -->
	<div class="modal hide fade" id="newItemContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>New Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Cancel</a>
	    <a href="#" class="btn close" id="doneNewItemBtn">Done</a>
	  </div>
	</div>

<!-- edit survey item modal -->
	<div class="modal hide" id="editItemContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Edit Item</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Cancel</a>
	    <a href="#" class="btn close" id="doneEditItemBtn">Done</a>
	  </div>
	</div>

<!-- trashed survey items modal -->
	<div class="modal hide fade" id="trashedItemsContainer">
	  <div class="modal-header">
	    <a href="#" class="close"></a>
	    <h3>Trash box</h3>
	  </div>
	  <div class="modal-body"></div>
	  <div class="modal-footer">
	    <a href="#" class="btn close">Close</a>
	  </div>
	</div>
<% end %>

<%= content_for :sidebar do %>
<div>
	<div id="sticky-anchor"></div>
	<div id="newItemBar">
		<button class="btn btn-primary" id="cancel-btn">
	    	<i class="icon-cancel"></i> Cancel
	    </button>
	    <button data-url="<%= new_survey_item_path(@survey) %>" id="new-item-btn" data-target="#newItemContainer" data-toggle="modal" class="btn btn-primary">
	    	<i class="icon-list-add"></i> New Item
	    </button>
	    <button data-url="<%= trashbox_survey_path(@survey) %>" class="btn btn-info" data-target="#trashedItemsContainer" data-toggle="modal" role="button">
	    	<i class="icon-trash"></i> Trash box (<%= @survey.items.trashed.count %>)
	    </button>
	    <button class="btn btn-warning"><i class="icon-wrench"></i> Survey settings</button>
	</div>
</div>

<% end %>


<%= content_for :js do %>
	<script>
		function sticky_relocate() {
			var window_top = $(window).scrollTop();
			var div_top = $('#sticky-anchor').offset().top;
			if (window_top > div_top)
				$('#newItemBar').addClass('stick')
			else
				$('#newItemBar').removeClass('stick')
		}
		// document ready 
		$(function(){
			var survey = new Survey({
				survey_id: <%= @survey.id %>,
				survey_update_url: "<%= survey_path(@survey, format: :js) %>",
				total_items: <%= @survey.items.active.count %> 
			});

			$(window).scroll(sticky_relocate);
			sticky_relocate();
		});
	</script>
<% end %>
