.page-header= page_header t(".title", name: @survey.name), default_survey_menu: true

:css
	#{ @survey.theme.to_css }

= render 'wizard_steps', {current_step: 'builder'}

#survey_theme_select.page-sub-header
	%span= t('.themes_select')
	%select#theme-select
		%optgroup{ label: t('.themes_global') }
			- for th in @themes_global
				%option{ value: th.id, selected: @survey.theme_id == th.id }= th.name
		%optgroup{ label: t('.themes_current') }
			- for th in @themes_current
				%option{ value: th.id, selected: @survey.theme_id == th.id }= th.name

	=# link_to t('.look_and_feel'), look_survey_path(@survey, page: 'logo'), class: 'btn small'
%ul.nav.nav-tabs
	%li.active
		%a{ href: '#builder-tab', id: "add-item-tab", 'data-toggle' => "tab" }= t '.builder_tab'
	%li
		%a{ href: "#misc", id: "edit-misc-tab", 'data-toggle' => "tab" }= t '.misc_tab'
.tab-content
	.tab-pane.fade.in.active#builder-tab
		= render 'edit_builder'
	.tab-pane.fade#misc
		= render 'edit_misc'


= content_for :js do
	= javascript_include_tag "/javascripts/jq_validation_engine/languages/jquery.validationEngine-#{I18n.locale}.js"
	= javascript_include_tag "/javascripts/jquery.validationEngine.js"
	= javascript_include_tag "/javascripts/ckeditor/ckeditor.js"
	:javascript
		// document ready 
		$(function(){
			var survey = new Survey({
				survey_id: "#{ @survey.id }",
				survey_update_url: "#{ survey_path }",
				total_items: #{ @survey.items.active.count },
				trashed_items: #{ @survey.items.trashed.count },
				translates: #{ translates_for_builder() },
				locale: "#{ I18n.locale.to_s }"
			});

			$(document).on('click', '#preview-btn', function(){
				window.open("#{ preview_survey_path(@survey) }",'_blank');
			})

			$(document).on('change', '#theme-select', function(){
				_el = $(this)
				$.ajax({
					url: "#{ survey_path(@survey) }",
					method: "PUT",
					data: {
						survey: { theme_id: _el.val() }
					},
					success: function(){
						location.reload();
					}
				})
			})
		});