
<div class="padded-content">
  <%= ribbed_header 'Surveys' %>

  <% if @surveys.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to "#{survey.category.name} > #{survey.name}", survey_path(survey) %></td>
            <td><%= survey.description %></td>
            <td><%= survey.created_at.to_s(:date_and_time) %></td>
            <td>
              <%= link_to 'Questions builder', builder_survey_path(survey), :class => 'btn btn-mini'  %>
              <%= link_to 'Edit', edit_survey_path(survey), :class => 'btn btn-mini' %>

              <%= link_to 'Deploy', deploy_survey_path(survey), class: 'btn btn-mini btn-success' %>
              <%= link_to 'Responses', [survey, :responses], class: 'btn btn-mini' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>  
    <h5>There is not items to display currently</h5>
  <% end %>

  <%= link_to t('.new', :default => t("helpers.links.new")), new_survey_path, :class => 'btn btn-primary' %>

</div>

<%= content_for :head_panel, render('shared/searchbox') %>
