
  <%= page_header t("surveys.index.title") %>

  <% if @surveys.any? %>
    <div id="surveys_list"><%= render @surveys %></div>
  <% else %>
    <h4><%= t("surveys.index.no_items") %></h4>
    <br>
    <%= link_to t("surveys.index.create_link"), :new_survey, class: 'btn' %>
  <% end %>


<% content_for :js do %>
<script>
	$(document).on('click', '#surveys_list .switch-btn', function(){
		_this = $(this);
		$.ajax({
			url: _this.attr('href'),
			type: 'PUT',
			dataType: 'json',
			success: function(resp){
				if(resp.active)
					{ _this.parents('.survey').addClass('active'); _this.siblings('.survey-status').text('<%= t("surveys.index.active")%>') }
				else
					{ _this.parents('.survey').removeClass('active'); _this.siblings('.survey-status').text('<%= t("surveys.index.stopped")%>') }
			}
		})
		return false;
	});
</script>
<% end %>

