.row
  .col-md-12
    %p= link_to t("surveys.index.create_link"), :new_survey, class: 'btn btn-default btn-lg'
.row
  .col-md-12
    - if @surveys.any?
      #surveys_list= render @surveys
    - else
      %h4= t("surveys.index.no_items")


- content_for :js do
  :javascript
    $(document).on('click', '#surveys_list .switch-btn', function(){
      _this = $(this);
      $.ajax({
        url: _this.attr('href'),
        type: 'PUT',
        dataType: 'json',
        success: function(resp){
          if(resp.active)
            { _this.parents('.survey').addClass('active'); _this.next('.survey-status').text("#{ t("surveys.index.active") }") }
          else
            { _this.parents('.survey').removeClass('active'); _this.next('.survey-status').text("#{ t("surveys.index.stopped") }") }
        }
      })
      return false;
    });