<%= 
	page_header t("surveys.look.title", name: @survey.name), 
	submenu: link_to(t('surveys.look.back_to_builder'), builder_survey_path(@survey))
%>

<% page = @page || params[:page]%>

<div class="section-container tabs">
	<div class="sections">
		<div class="section <% if page == 'logo'%>active<% end %>">
			<p class="title"><a href="?page=logo"><%= t('surveys.look.logo') %></a></p>
		</div>
		<div class="section <% if page == 'themes'%>active<% end %>">
			<p class="title"><a href="?page=themes"><%= t('surveys.look.themes') %></a></p>
		</div>
		<div class="section <% if page == 'theme_builder'%>active<% end %>">
			<p class="title"><a href="?page=theme_builder"><%= t('surveys.look.custom_theme') %></a></p>
		</div>
	</div>


	<div class="sections_content">
		<% if page == 'themes'%>
			<%= render 'look_themes' %>
		<% elsif page == 'theme_builder' %>
			<%= render 'look_new_theme' %>
		<% else %>
			<%= render 'look_logo' %>
		<% end %>
	</div>
</div>


<%= content_for :js do %>
	<script>
		/*$(function(){

			_tabs = $('.tabs');

			_tabs.find('.sections a').click(function(){
				_this = $(this);
				_tabs.find('.sections .section').removeClass('active');
				_this.parents('.section').addClass('active')
				_tabs.find('.content > div').removeClass('active');
				_tabs.find('.content > div' + _this.attr('href')).addClass('active');
				return false;
			})

			_tabs.find('.sections .section:first-child a').click()

		});*/
	</script>
<% end %>