<%= page_header "<b>#{@survey.name}</b> -- Share", default_survey_menu: true %>

<div id="share-link-block" class="share-block">
  <h3>1. <%= t('surveys.share.link')%></h3>
  <div class="share-description"><%= t('surveys.share.link_content')%></div>
  <div class="survey-share-block">
    <%= APP_HOST + s_show_survey_path(token: @survey.token) %>
  </div>
</div>

<div id="share-js-block" class="share-block">
  <h3>2. <%= t('surveys.share.javascript')%></h3>
  <div class="share-description"><%= t('surveys.share.javascript_content')%></div>
  <div class="survey-share-block" class="share-block">
    <%= escape_javascript("<script src=\"#{APP_HOST}/#{@survey.token}.js\"></script>").gsub("\\", '') %>
  </div>
</div>
