<% 	resp_arr = @responses_content.map{|x| x[item.id.to_s]}.compact.map{|x| x['values']} %>
<ul class="report-variants">
	<% item.variants_array.each_with_index do |variant, i| %>
		<% percentage = (resp_arr.count(variant).to_f / resp_arr.count * 100).round %>
    	<li>
    		<span><%= variant %></span> 
    		<div class="bar-wrapper">
    			<div class="bar-line" style="width: <%= percentage %>%; background-color: <%= cycle(* @options_colors, item.id)%>"><%= percentage %>%</div>
    		</div>
		</li>
    <% end %>
    
    <% if(additional_fields = @responses_content.map{|x| x[item.id.to_s]}
        .compact.map{|x| x['additional_field']}.reject(&:blank?)).any?
    %>
    <li class="additinal_fields">
        <span class="right-text"><%= t('surveys.report.additional_field') %></span>
        <div class="bar-wrapper">
            <strong><%== additional_fields.join('<span class="responses-separator"></span>') %></strong>
        </div>
    </li>
    <% end %>
</ul>