<% resp_arr = @responses_content.reject{|x| x[:content][item.id.to_s].nil?} %>
<% resp_arr = resp_arr.map do |x| 
        {   resp_id: x[:resp_id], 
            field: x[:content][item.id.to_s]['additional_field'], 
            values: x[:content][item.id.to_s]['values'] 
        }
    end
%>
<% resp_arr_without_empty = resp_arr.reject{|x| x[:values].nil? } %>
<div class="statistics">
    <span><%= t('surveys.report.question_skipped') %> <b><%= resp_arr.count - resp_arr_without_empty.count %></b></span>
    <span><%= t('surveys.report.question_responded') %> <b><%= resp_arr_without_empty.count %></b></span>
</div>

<% values_keys = resp_arr_without_empty.map{|x| x[:values].keys} %>
<ul class="report-variants">
    <% item.variants_array.each_with_index do |variant, i| %>
        <% percentage = (values_keys.flatten.count(i.to_s).to_f / values_keys.count * 100).round %>
        <li>
            <span>
                <input type="checkbox" disabled="disabled"></input>
                <%= variant %>
            </span> 
            <div class="bar-wrapper">
                <div class="bar-line" style="width: <%= percentage %>%; background-color: <%= cycle(* @options_colors, item.id)%>"><%= percentage%>%</div>
            </div>
        </li>
    <% end %>
</ul>

<% if(additional_fields = resp_arr.map{|x| x[:field]}.reject(&:blank?)).any?   %>
<div class="additional_txt_field_results">
    <strong><%= t('surveys.report.additional_field') %></strong>
    <!-- <a href="#" class="swith_text_field_results"><%= t('surveys.report.additional_field') %></a> -->
    
    <div class="scrollable">
    <%#  [[30, "one\r\ntwo\r\nthree"], [31, "пользуюсь,если выпиваю и"]]  %>
    <% resp_arr_without_empty.reject{|x| x[:field].blank?}.each do |resp| %>
        <div>
            <%== simple_format resp[:field] %>
            <%= link_to t('surveys.report.response_link'), survey_response_path(@survey, resp[:resp_id]), class: "response-link" %>
        </div>
    <% end %>
    </div>
</div>
<% end %>