<div class="item_tools">
    <button class="item-copy-link btn">
    	<i class="icon-docs"></i> <%= t 'surveys.builder.copy' %>
    </button>
    <button class="item-move-link btn">
    	<i class="icon-move"></i> <%= t 'surveys.builder.move' %>
    </button>
    <button class="item-edit-link btn" data-url="<%= edit_survey_item_path(@survey, item) %>" data-target="#editItemContainer" data-toggle="modal">
    	<i class="icon-pencil"></i> <%= t 'surveys.builder.edit' %>
    </button>
    <button class="deleteLnk btn-danger btn">
    	<i class="icon-trash"></i> <%= t 'surveys.builder.remove' %>
    </button>
</div>
