<%= content_tag_for :div, item, class: "row insertable sortable_item question-item", item_id: item.id do -%>
  <div class="row content-row">
    <%= render 'survey_items/items/_tools_box'%>
        
    <div class="row item_header">
      <div class="sixteen columns">
      	<h6><%= item.title%></h6>
      </div>
    </div>
    <div class="row">
      <div class="fifteen columns centered">
        <select name="drop_down_<%= item.id %>">
          <% for var in item.variants %>
			      <option value="<%= var %>" > <%= var %> </option>
			    <% end %>
			  </select>
      </div>
    </div>
    
    
  </div>
  <div class="row">
  	<div class="ten columns centered">
  		<a class="blue button insert_buttons">Insert here »</a>
  	</div>
  </div>
<%- end -%>
