<%= content_tag_for :div, item, class: "insertable survey_item question-item", item_id: item.id do -%>
	<div class="navbar-inner pull-right">
    	<%= render 'survey_items/items/_tools_box', item: item %>
  	</div>
  	<div class="item-content">
  		<strong><%= item.title%></strong>
  		<div class="clear"></div>
    	<ul class="unstyled">
	    	<% for var in item.variants_array %>
		    	<li>
			      	<label class="checkbox">
						<input type="checkbox" name="r_btn" value="<%= var %>" /><%= var %>
					</label>
				</li>
		    <% end %>
		</ul>
  	</div>
	
	<%= insert_button %>
<% end %>
