<%= content_tag_for :div, item, class: "insertable sortable_item question-item", item_id: item.id do -%>
	<div class="navbar-inner pull-right">
    	<%= render 'survey_items/items/_tools_box'%>
  	</div>
  	<div class="well well-small">
  		<strong><%= item.title%></strong>
    	<ul class="simple">
	    	<% for var in item.variants %>
		      <li><input type="checkbox" name="r_btn" value="<%= var %>" /><%= var %></li>
		    <% end %>
		</ul>
  	</div>

	
	<div class="row">
      <button class="btn btn-mini btn-primary insert_buttons" type="button">Insert here »</button>
	</div>
<% end %>
