<%= div_for item, class: "countable survey_item question-item", item_id: item.id do -%>
	<%= render 'survey_items/items/_tools_box', item: item %>
	<div class="item-inner">
		<strong class="item-title"><%= item.title %></strong>
		<div class="item-content">
	    	<ul class="unstyled">
		    	<% for var in item.variants_array %>
			    	<li>
				      	<label class="radio">
							<input type="radio" name="r_btn" value="<%= var %>" /><%= var %>
						</label>
					</li>
			    <% end %>
			</ul>
			<%- if item.include_txt_field -%>
		      <input type="text"></input>
		    <%- end -%>
	  	</div>
  	</div>

	
	<%= insert_button %>
<% end %>
