<%= div_for item, class: "insertable sortable_item question-item", item_id: item.id do -%>
	<div class="navbar-inner pull-right">
		<%= render 'survey_items/items/_tools_box'%>
  	</div>
  	<div class="well well-small">
  		<h5><%= item.title%></h5>
    	<ul class="simple">
	    	<% for var in item.variants %>
		      <li><input type="radio" name="r_btn" value="<%= var %>" /> <%= var %></li>
		    <% end %>
		</ul>
		<%- if item.include_txt_field -%>
	      <input type="text" />
	    <%- end -%>
  	</div>

	
	<button class="btn btn-mini btn-block insert_buttons" type="button">Insert here »</button>
<% end %>
