<%= content_tag_for :div, item, class: "row insertable sortable_item question-item", item_id: item.id do -%>
	<div class="row content-row">
	  <ul class="link-list manage_links">
      <li><a href="#">Edit</a></li>
      <li><%= link_to 'Delete', '#', class: 'deleteLnk', confirm: 'Sure?' %></li>
    </ul>
  	<div class="fifteen columns centered">
			<h6><%= item.title %></h6>
			<fieldset>
			  <% for var in item.variants %>
				  <input type="radio" name="r_btn" value="<%= var %>" /> <%= var %> <br />
				<% end %>
				<br />
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="ten columns centered">
  		<button class="tiny button sixteen insert_buttons vspace" >Insert here »</button>
		</div>
	</div>
<% end %>
