<% header('Dasboard') %>

<%#= page_header 'Account info' %>

<div class="row-fluid">
	<h3><small>Account name:</small> <%= @account.name.blank? ? "<not set>" : @account.name %></h3>
	<h3><small>Account created:</small> <%= @account.created_at.to_s(:date_and_time) %></h3>
	<h3><small>Owner:</small> <%= @account.owner.full_name %></h3>
	<h3><small>Users:</small> <%= @account.users.count %></h3>
	<h3><small>Surveys:</small> <%= @account.surveys.count %></h3>
	<h3><small>Responses:</small> <%= @account.responses.count %></h3>
</div>