<%= form_for @survey_item || SurveyItems::ScaleQuestion.new, url: '#', id: 'scale_question_form' do |f| %>
	<label>Question title:</label>
	<%= f.text_area :title, name: 'title', rows: 2,  
		class: 'full-width', placeholder: "Place question description here" %>

	<label>Scale size:</label>
    <label class="radio inline">
		<%= f.radio_button :scale_size, 3, name: 'scale_size' %> 3 options
	</label>
	<label class="radio inline">
		<%= f.radio_button :scale_size, 5, name: 'scale_size' %> 5 options
	</label>
	<label class="radio inline">
		<%= f.radio_button :scale_size, 10, name: 'scale_size' %> 10 options
	</label>


	<input type="hidden" name="item_type" value="scale_question">
<% end %>