= form_for @survey_item, url: '#', html:{ id: 'signature_item_form', class: 'panel-body' } do |f|
  .form-group
    %label= t('survey_items.common.item_title')
    = f.text_area :title, name: 'survey_item[title]', rows: 2, 'data-errormessage' => t('survey_items.common.item_title_error_msg'),
      class: 'validate[required] form-control', placeholder: t('survey_items.common.title_placeholder')

  = hidden_field_tag :item_id, @survey_item.try(:id)
  %input{ type: "hidden", name: "item_type", value: "signature" }
  %input{ type: "hidden", name: "survey_id", value: @survey_item.survey.id }
  = f.submit t('survey_items.common.save'), class: 'btn btn-success' 