= form_for @survey_item, url: '#', html:{ id: 'single_select_grid_form', class: 'panel-body' } do |f|

  .form-group
    %label= t('survey_items.common.item_title')
    = f.text_area :title, name: 'survey_item[title]', rows: 2, 'data-errormessage' => t('survey_items.common.item_title_error_msg'),
      class: 'validate[required] form-control', placeholder: t('survey_items.common.title_placeholder')

  .row
    .col-md-6
      %label= t('survey_items.single_select_grid.row_names')
      = f.text_area :rows, name: 'survey_item[rows]', rows: 6, 'data-errormessage' => t('survey_items.single_select_grid.row_names_error'),
        class: 'validate[required] form-control', placeholder: t('survey_items.single_select_grid.row_names_placeholder')
    .col-md-6
      .form-group
        %label= t('survey_items.single_select_grid.col_names')
        = f.text_area :columns, name: 'survey_item[columns]', rows: 6, 'data-errormessage' => t('survey_items.single_select_grid.col_names_error'),  
          class: 'validate[required] form-control', placeholder: t('survey_items.single_select_grid.col_names_placeholder')


  %label.checkbox
    = f.check_box :required_field, name: 'survey_item[required_field]'
    = t('survey_items.common.make_required') 

  = hidden_field_tag :item_id, @survey_item.try(:id)
  %input{ type: "hidden", name: "item_type", value: "single_select_grid" }
  %input{ type: "hidden", name: "survey_id", value: @survey_item.survey.id }
  = f.submit t('survey_items.common.save'), class: 'btn btn-success' 