<%= form_for @survey_item || SurveyItems::SingleSelectQuestion.new, url: '#', id: 'single_select_question_form' do |f| %>
	<label>Question title:</label>
	<%= f.text_area :title, name: 'survey_item[title]', rows: 2,  
		class: 'width-90', placeholder: "Place question description here" %>
	
	<label>Varaints goes here</label>
	<%= f.text_area :variants, name: 'survey_item[variants]', rows: 3,  
		class: 'width-90', placeholder: "Place question description here" %>

	<label class="checkbox">
      <%= f.check_box :include_txt_field, name: 'survey_item[include_txt_field]' %>
      Include optional text field
    </label>
  
	<%= hidden_field_tag :item_id, @survey_item.try(:id) %>
	<input type="hidden" name="item_type" value="single_select_question">
<% end %>