= form_for @survey_item, url: '#', html:{ id: 'video_question_form', class: 'panel-body' } do |f|
  %img{ src: "/images/youtube-logo.jpg", alt: "Youtube logo image" } 
  %img{ src: "/images/vimeo-logo.jpg", alt: "Youtube logo image" }

  .form-group
    %label= t('survey_items.video_question.url')
    = f.text_field :embed_url, name: 'survey_item[embed_url]', 'data-errormessage' => t('survey_items.video_question.url_err_msg'),
      class: 'validate[required] form-control', placeholder: t('survey_items.video_question.url_placeholder')


  .well.well-sm
    %span.help-block= t('survey_items.video_question.size')
    %label.radio
      = f.radio_button :frame_size, "400x243", name: 'survey_item[frame_size]'
      = t('survey_items.video_question.size_small')
    %label.radio
      = f.radio_button :frame_size, "640x390", name: 'survey_item[frame_size]'
      = t('survey_items.video_question.size_medium')
    %label.radio
      = f.radio_button :frame_size, "820x500", name: 'survey_item[frame_size]'
      = t('survey_items.video_question.size_big')

  = hidden_field_tag :item_id, @survey_item.try(:id)
  %input{ type: "hidden", name: "item_type", value: "video_question" }
  %input{ type: "hidden", name: "survey_id", value: @survey_item.survey.id }
  = f.submit t('survey_items.common.save'), class: 'btn btn-success' 