<div class="info-block"><%== t('survey_items.new.info') %></div>

<ul style="overflow: auto">
  <li class="new-item">
    <button class="btn small simple" data-item-type="text_field_question">
      <i class="icon-text-height"></i> <%= t('survey_items.new.text_field') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="multiple_select_question">
      <i class="icon-check"></i> <%= t('survey_items.new.multiple_select') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="single_select_question">
      <i class="icon-list-bullet"></i> <%= t('survey_items.new.single_select') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="drop_down_question">
      <i class="icon-down-open"></i> <%= t('survey_items.new.drop_down') %>
    </button>
  </li>
  <!-- <li class="new-item">
    <button class="btn small simple" data-item-type="drop_down_question">
      <i class="icon-down-open"></i> <%= t('survey_items.new.drop_down') %>
    </button>
  </li> -->
</ul>

<ul>
  <li class="new-item" style="position: relative">
    <button class="btn small simple" data-item-type="scale_question">
      <i class="icon-resize-full"></i> <%= t('survey_items.new.scale_question') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="desc_text">
      <i class="icon-font"></i> <%= t('survey_items.new.rich_text') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="page_break">
      <i class="icon-doc-alt"></i> <%= t('survey_items.new.page_separator') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="video_question">
      <i class="icon-video"></i> <%= t('survey_items.new.video_item') %>
    </button>
  </li>
  <li class="new-item">
    <button class="btn small simple" data-item-type="single_select_grid">
      <i class="icon-th"></i> <%= t('survey_items.new.single_select_grid') %>
    </button>
  </li>
    
</ul>

<div class="divider_line"></div>