<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title><%= content_for?(:title) ? yield(:title) : "Surveyskitchen" %></title>
    <%= csrf_meta_tags %>

<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/c/video.js"></script>

    <meta name="Description" content="SurveysKitchen - the most convenient and fastest tool for creating online surveys and polls">
    <meta name="keywords" content="SurveysKitchen,surveys,online-surveys,polls,web-polls,web-surveys,opinnion research, marketing research, analysis,voting,statistics">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <%= render 'shared/top_bar' %>

    <%= flash_messages %>
    
    <div id="sides-padding">
      <div id="content-wrapper">
        <div id="main-content">
          <div id="content-pretty"><%= yield %></div>
        </div>
        <div id="left-nav"><%= render 'shared/left_nav' %><%= yield :sidebar if content_for?(:sidebar) %></div>
      </div>
    </div>

    <%= yield :after_content if content_for?(:after_content) %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript">
      var CKEDITOR_BASEPATH = '/assets/ckeditor/';
    </script>
    <%= javascript_include_tag "application" %>
    <%= yield :js if content_for? :js %>

  </body>

  <%= render('shared/ga_code') if 'production' == Rails.env %>
</html>
