<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= yield(:head) if content_for?(:head) %>
    <title><%= content_for?(:title) ? yield(:title) : "Surveyskitchen" %></title>
    <%= csrf_meta_tags %>

    <meta name="Description" content="<%= t('layout.meta_description') %>">
    <meta name="keywords" content="<%= t('layout.meta_keywords').join(', ')%>">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= yield :css %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", :media => "all" %>
    <%= stylesheet_link_tag "marketing", :media => "all" %>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>

    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body class="marketing-body <%= yield :body_class if content_for?(:body_class) %>">

    <%= render 'shared/top_bar_marketing' %>
    
    <div class="container">
      <%= flash_messages %>

      <%= yield %>
    </div>
    

    <%= yield :after_content if content_for?(:after_content) %>
    <%= render '/shared/footer' %>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.11.0.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>
    <%= yield :js if content_for? :js %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=471767956202786";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

  </body>
  <%= render('shared/ga_code') if 'production' == Rails.env %>
  <%= render('shared/uservoice_tab') if 'production' == Rails.env %>
  
</html>
